examples/Device Info.json
[
    {
        "id": "bd9f6fdbe7f66c18",
        "type": "tab",
        "label": "Device Info",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db3951492e4297c6",
        "type": "Axis device",
        "z": "bd9f6fdbe7f66c18",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "332790fe926eec5c",
                "e93d2ad04808dbb9"
            ]
        ]
    },
    {
        "id": "332790fe926eec5c",
        "type": "change",
        "z": "bd9f6fdbe7f66c18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "689623e05a50d528"
            ]
        ]
    },
    {
        "id": "56533fb4868c109a",
        "type": "inject",
        "z": "bd9f6fdbe7f66c18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "db3951492e4297c6",
                "d4dc91a1f2c9a541"
            ]
        ]
    },
    {
        "id": "689623e05a50d528",
        "type": "debug",
        "z": "bd9f6fdbe7f66c18",
        "name": "device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 160,
        "wires": []
    },
    {
        "id": "d4dc91a1f2c9a541",
        "type": "Axis camera",
        "z": "bd9f6fdbe7f66c18",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "2bfbd621660c0f8f"
            ]
        ]
    },
    {
        "id": "c5f621e1eb34baf9",
        "type": "debug",
        "z": "bd9f6fdbe7f66c18",
        "name": "camera",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "2bfbd621660c0f8f",
        "type": "change",
        "z": "bd9f6fdbe7f66c18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "c5f621e1eb34baf9"
            ]
        ]
    },
    {
        "id": "e93d2ad04808dbb9",
        "type": "change",
        "z": "bd9f6fdbe7f66c18",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hostname",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 200,
        "wires": [
            [
                "b86f7319db669d5d"
            ]
        ]
    },
    {
        "id": "6fb403faf7321f19",
        "type": "comment",
        "z": "bd9f6fdbe7f66c18",
        "name": "Set your device credentials and inject.  Stores dave information in global.context used by other flows",
        "info": "",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "b86f7319db669d5d",
        "type": "debug",
        "z": "bd9f6fdbe7f66c18",
        "name": "name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    }
]