examples/Object Detection.json
[
    {
        "id": "e68acb11e7363ed4",
        "type": "tab",
        "label": "Object Detection",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35a39e5a794b93e7",
        "type": "group",
        "z": "e68acb11e7363ed4",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "49b6aeee80bbbc2d",
            "7baeb440ac17f21c",
            "407e02b0bfa7b6cb",
            "1558cbb4618d10b6",
            "350398055e8c860e",
            "02e3bbc01c39608a",
            "3c32847cd2d5992e",
            "48f2f9fb963d39c9",
            "7573a2adde3c289e",
            "134709d3fce86a06",
            "ec0e6d4165f616ad",
            "cd449238b2e9df89",
            "346697a13c1e2296",
            "441d1b13c04338f7",
            "673e35a7359baf06",
            "e411d727ecb8092a",
            "4a1d4500ee5cdb49",
            "2de3481eb4c1fd97",
            "5bc6f198c70856b5",
            "864681114f74bc89",
            "49d926296604264b"
        ],
        "x": 274,
        "y": 859,
        "w": 1012,
        "h": 342
    },
    {
        "id": "a37366edb2c4611f",
        "type": "group",
        "z": "e68acb11e7363ed4",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "8d05f4dd34d4a39c",
            "70366879b619a5d0",
            "2713143f01c47496",
            "d1f8b9d63b955f19"
        ],
        "x": 274,
        "y": 119,
        "w": 872,
        "h": 122
    },
    {
        "id": "5dcb29ba3ec1192f",
        "type": "group",
        "z": "e68acb11e7363ed4",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "fdef647ab9c96491",
            "769553ac8215ef69",
            "5aa407ab01d569ea",
            "bbe9ef9c12f295e2",
            "6301413aee9368ef",
            "38437e5fc35eb643"
        ],
        "x": 274,
        "y": 299,
        "w": 792,
        "h": 242
    },
    {
        "id": "2c33d98edfba4fd4",
        "type": "group",
        "z": "e68acb11e7363ed4",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "30bda4492ac4a42c",
            "6326abf9a1483df6",
            "be9e87fc81194cad",
            "53ae5318be728ed2",
            "3b68d6bcf55cbcef",
            "7121e0a358dd8357",
            "cbdf6af590b81662",
            "30146ff9e13c87c7",
            "81d35ef9c2cca2e4"
        ],
        "x": 274,
        "y": 599,
        "w": 1052,
        "h": 202
    },
    {
        "id": "35af426185205206",
        "type": "group",
        "z": "e68acb11e7363ed4",
        "name": "Exceptions",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "990fe2bdae8dc110",
            "c49c2f2f2a7e8760",
            "065ea8b233f06af2",
            "2f641af7789e2ca0"
        ],
        "x": 274,
        "y": 1259,
        "w": 642,
        "h": 142
    },
    {
        "id": "346697a13c1e2296",
        "type": "junction",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "x": 1260,
        "y": 900,
        "wires": [
            [
                "269bc36a3fc8e830"
            ]
        ]
    },
    {
        "id": "4a1d4500ee5cdb49",
        "type": "junction",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "x": 900,
        "y": 1120,
        "wires": [
            [
                "15e3d379a00c3ac8"
            ]
        ]
    },
    {
        "id": "1920702e3dcc7554",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "Detections",
        "mode": "link",
        "links": [
            "1963d90eb78eb051",
            "916ecc70f32d8e38",
            "7b114ff72f1c4369"
        ],
        "x": 1335,
        "y": 160,
        "wires": []
    },
    {
        "id": "1963d90eb78eb051",
        "type": "link in",
        "z": "e68acb11e7363ed4",
        "name": "Visualize",
        "links": [
            "15e3d379a00c3ac8",
            "1920702e3dcc7554",
            "ef266590d130a22e",
            "89fdf8a12a15475d"
        ],
        "x": 105,
        "y": 380,
        "wires": [
            [
                "38437e5fc35eb643"
            ]
        ]
    },
    {
        "id": "5affdce1c8cfc135",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Version 2.1 [README]   ",
        "info": "2.1 = Fixed a vsiualazation flaw for path\n\nTo optimize on camera model and camera settings, import the following nodes \nand set set the camera credentials.\n\n\n[\n    {\n        \"id\": \"02db7f93b04a492f\",\n        \"type\": \"change\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"set\",\n                \"p\": \"device\",\n                \"pt\": \"global\",\n                \"to\": \"payload\",\n                \"tot\": \"msg\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 690,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"b5b64f4f7b769d83\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"fa380eb259be45b7\",\n        \"type\": \"inject\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"props\": [\n            {\n                \"p\": \"payload\"\n            },\n            {\n                \"p\": \"topic\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": true,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"payload\": \"\",\n        \"payloadType\": \"date\",\n        \"x\": 250,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"c8ef8d97328edd23\",\n                \"c73446698e69b019\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"b5b64f4f7b769d83\",\n        \"type\": \"debug\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"debug 187\",\n        \"active\": false,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 930,\n        \"y\": 100,\n        \"wires\": []\n    },\n    {\n        \"id\": \"c8ef8d97328edd23\",\n        \"type\": \"Axis device\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"preset\": \"a5d60ef5587cc8fc\",\n        \"action\": \"Device Info\",\n        \"cgi\": \"\",\n        \"data\": \"\",\n        \"options\": \"\",\n        \"filename\": \"\",\n        \"x\": 470,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"02db7f93b04a492f\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"c73446698e69b019\",\n        \"type\": \"Axis camera\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"preset\": \"a5d60ef5587cc8fc\",\n        \"action\": \"Camera Info\",\n        \"resolution\": \"640x360\",\n        \"output\": \"Base64\",\n        \"filename\": \"\",\n        \"options\": \"\",\n        \"data\": \"\",\n        \"x\": 470,\n        \"y\": 160,\n        \"wires\": [\n            [\n                \"83dd6a8c155a030a\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1d5013c65acf6edc\",\n        \"type\": \"debug\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"debug 193\",\n        \"active\": false,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"false\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 930,\n        \"y\": 160,\n        \"wires\": []\n    },\n    {\n        \"id\": \"83dd6a8c155a030a\",\n        \"type\": \"change\",\n        \"z\": \"5c11fed7a3291d98\",\n        \"name\": \"\",\n        \"rules\": [\n            {\n                \"t\": \"set\",\n                \"p\": \"camera\",\n                \"pt\": \"global\",\n                \"to\": \"payload\",\n                \"tot\": \"msg\"\n            }\n        ],\n        \"action\": \"\",\n        \"property\": \"\",\n        \"from\": \"\",\n        \"to\": \"\",\n        \"reg\": false,\n        \"x\": 690,\n        \"y\": 160,\n        \"wires\": [\n            [\n                \"1d5013c65acf6edc\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"a5d60ef5587cc8fc\",\n        \"type\": \"Device Access\",\n        \"name\": \"Localhost\",\n        \"address\": \"localhost\",\n        \"protocol\": \"http\"\n    }\n]\n",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "ddb0e8d27aae9a17",
        "type": "inject",
        "z": "e68acb11e7363ed4",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 680,
        "wires": [
            [
                "30bda4492ac4a42c"
            ]
        ]
    },
    {
        "id": "c18733f9d3da5ab1",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "detections",
        "info": "",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "c3dbad29012ffc19",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "fd5f245bea3a97a1"
        ],
        "x": 1495,
        "y": 640,
        "wires": []
    },
    {
        "id": "f5dc7f3b81b7bc2d",
        "type": "link in",
        "z": "e68acb11e7363ed4",
        "name": "Update Settings",
        "links": [
            "29b77e4038018bd1",
            "269bc36a3fc8e830"
        ],
        "x": 105,
        "y": 760,
        "wires": [
            [
                "cbdf6af590b81662"
            ]
        ]
    },
    {
        "id": "1b481c085f8501c9",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Init",
        "info": "",
        "x": 1390,
        "y": 640,
        "wires": []
    },
    {
        "id": "29b77e4038018bd1",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "f5dc7f3b81b7bc2d",
            "7629d04ef4c084e4"
        ],
        "x": 1235,
        "y": 380,
        "wires": []
    },
    {
        "id": "9c86f790339eb13e",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Update",
        "info": "",
        "x": 190,
        "y": 760,
        "wires": []
    },
    {
        "id": "fd5f245bea3a97a1",
        "type": "link in",
        "z": "e68acb11e7363ed4",
        "name": "link in 33",
        "links": [
            "c3dbad29012ffc19",
            "de8a5e5e2cb27a9b"
        ],
        "x": 105,
        "y": 900,
        "wires": [
            [
                "48f2f9fb963d39c9"
            ]
        ]
    },
    {
        "id": "269bc36a3fc8e830",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "f5dc7f3b81b7bc2d",
            "7629d04ef4c084e4"
        ],
        "x": 1455,
        "y": 900,
        "wires": []
    },
    {
        "id": "b641863a79b01e9a",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Init",
        "info": "",
        "x": 190,
        "y": 900,
        "wires": []
    },
    {
        "id": "df26a88cdd43735f",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Updated",
        "info": "",
        "x": 1360,
        "y": 900,
        "wires": []
    },
    {
        "id": "9ceaa9e12a0517d4",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Visualize",
        "info": "",
        "x": 200,
        "y": 380,
        "wires": []
    },
    {
        "id": "15e3d379a00c3ac8",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "aoi",
        "mode": "link",
        "links": [
            "1963d90eb78eb051"
        ],
        "x": 1455,
        "y": 1120,
        "wires": []
    },
    {
        "id": "7bf1063751cc9762",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Updated",
        "info": "",
        "x": 1140,
        "y": 380,
        "wires": []
    },
    {
        "id": "ef770a1aac6aa579",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Visualize",
        "info": "",
        "x": 1360,
        "y": 1120,
        "wires": []
    },
    {
        "id": "728b17c2df7c07a0",
        "type": "link in",
        "z": "e68acb11e7363ed4",
        "name": "link in 34",
        "links": [
            "7912389bbf0aabf5"
        ],
        "x": 85,
        "y": 640,
        "wires": [
            [
                "30bda4492ac4a42c"
            ]
        ]
    },
    {
        "id": "7912389bbf0aabf5",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "Start",
        "mode": "link",
        "links": [
            "728b17c2df7c07a0",
            "8b80d877c2d860b0"
        ],
        "x": 1235,
        "y": 340,
        "wires": []
    },
    {
        "id": "6e886a84580c4d34",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Start",
        "info": "",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "acd0a5c604358603",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Start",
        "info": "",
        "x": 170,
        "y": 640,
        "wires": []
    },
    {
        "id": "49b6aeee80bbbc2d",
        "type": "ui_numeric",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "label": "Minimum age",
        "tooltip": "",
        "group": "767267daa503112e",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 820,
        "y": 980,
        "wires": [
            [
                "407e02b0bfa7b6cb"
            ]
        ]
    },
    {
        "id": "7baeb440ac17f21c",
        "type": "ui_numeric",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "label": "Minimum distance",
        "tooltip": "",
        "group": "767267daa503112e",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 830,
        "y": 1020,
        "wires": [
            [
                "1558cbb4618d10b6"
            ]
        ]
    },
    {
        "id": "407e02b0bfa7b6cb",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "346697a13c1e2296"
            ]
        ]
    },
    {
        "id": "1558cbb4618d10b6",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1020,
        "wires": [
            [
                "346697a13c1e2296"
            ]
        ]
    },
    {
        "id": "350398055e8c860e",
        "type": "ui_dropdown",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "767267daa503112e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 940,
        "wires": [
            [
                "02e3bbc01c39608a"
            ]
        ]
    },
    {
        "id": "02e3bbc01c39608a",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "346697a13c1e2296"
            ]
        ]
    },
    {
        "id": "3c32847cd2d5992e",
        "type": "ui_dropdown",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "label": "Confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "767267daa503112e",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 900,
        "wires": [
            [
                "2de3481eb4c1fd97"
            ]
        ]
    },
    {
        "id": "48f2f9fb963d39c9",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 900,
        "wires": [
            [
                "7573a2adde3c289e",
                "134709d3fce86a06",
                "ec0e6d4165f616ad",
                "cd449238b2e9df89",
                "5bc6f198c70856b5"
            ]
        ]
    },
    {
        "id": "7573a2adde3c289e",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 900,
        "wires": [
            [
                "3c32847cd2d5992e"
            ]
        ]
    },
    {
        "id": "134709d3fce86a06",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 940,
        "wires": [
            [
                "350398055e8c860e"
            ]
        ]
    },
    {
        "id": "ec0e6d4165f616ad",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 980,
        "wires": [
            [
                "49b6aeee80bbbc2d"
            ]
        ]
    },
    {
        "id": "cd449238b2e9df89",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "7baeb440ac17f21c"
            ]
        ]
    },
    {
        "id": "441d1b13c04338f7",
        "type": "ui_button",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "group": "767267daa503112e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Area of Intrest",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "673e35a7359baf06"
            ]
        ]
    },
    {
        "id": "673e35a7359baf06",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "4a1d4500ee5cdb49"
            ]
        ]
    },
    {
        "id": "e411d727ecb8092a",
        "type": "ui_button",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "group": "767267daa503112e",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 690,
        "y": 1160,
        "wires": [
            [
                "4a1d4500ee5cdb49"
            ]
        ]
    },
    {
        "id": "2de3481eb4c1fd97",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 900,
        "wires": [
            [
                "346697a13c1e2296"
            ]
        ]
    },
    {
        "id": "8d05f4dd34d4a39c",
        "type": "Objects",
        "z": "e68acb11e7363ed4",
        "g": "a37366edb2c4611f",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "20",
        "rotation": "0",
        "cog": "1",
        "predictions": "0",
        "attributes": "50",
        "idle": "600",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "70366879b619a5d0"
            ]
        ]
    },
    {
        "id": "70366879b619a5d0",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "a37366edb2c4611f",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var clasMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            clasMatch = true;\n    });\n    if (!clasMatch)\n        return;\n\n    if( item.cx < settings.aoi.x1 )\n        return;\n    if (item.cx > settings.aoi.x2)\n        return;\n    if (item.cy < settings.aoi.y1)\n        return;\n    if (item.cy > settings.aoi.y2)\n        return;\n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "1920702e3dcc7554",
                "2713143f01c47496"
            ]
        ]
    },
    {
        "id": "fdef647ab9c96491",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "5dcb29ba3ec1192f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 380,
        "wires": [
            [
                "29b77e4038018bd1"
            ]
        ]
    },
    {
        "id": "30bda4492ac4a42c",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "Default settings",
        "func": "msg.payload = {\n    classes: [\"Human\", \"Car\"],\n    age: 2,\n    distance: 10,\n    confidence: 30,\n    aoi: {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n    timeout: 5\n}\n\nvar device = global.get(\"device\");\nif( device ) \n    msg.payload.name = device.hostname || device.serial;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "6326abf9a1483df6"
            ]
        ]
    },
    {
        "id": "6326abf9a1483df6",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 640,
        "wires": [
            [
                "be9e87fc81194cad"
            ]
        ]
    },
    {
        "id": "be9e87fc81194cad",
        "type": "file in",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "",
        "filename": "sdcardObjectDetections.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 640,
        "wires": [
            [
                "53ae5318be728ed2"
            ]
        ]
    },
    {
        "id": "53ae5318be728ed2",
        "type": "json",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "3b68d6bcf55cbcef"
            ]
        ]
    },
    {
        "id": "3b68d6bcf55cbcef",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "c3dbad29012ffc19"
            ]
        ]
    },
    {
        "id": "7121e0a358dd8357",
        "type": "catch",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "",
        "scope": [
            "be9e87fc81194cad"
        ],
        "uncaught": false,
        "x": 350,
        "y": 720,
        "wires": [
            [
                "cbdf6af590b81662"
            ]
        ]
    },
    {
        "id": "cbdf6af590b81662",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 760,
        "wires": [
            [
                "30146ff9e13c87c7"
            ]
        ]
    },
    {
        "id": "30146ff9e13c87c7",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 760,
        "wires": [
            [
                "81d35ef9c2cca2e4"
            ]
        ]
    },
    {
        "id": "81d35ef9c2cca2e4",
        "type": "file",
        "z": "e68acb11e7363ed4",
        "g": "2c33d98edfba4fd4",
        "name": "",
        "filename": "sdcardObjectDetections.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 900,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "2713143f01c47496",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "a37366edb2c4611f",
        "name": "state",
        "func": "if( msg.payload.length === 0 )\n    return;\nmsg.topic = \"state\";\nvar settings = flow.get(\"settings\");\nmsg.delay = settings.timeout * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 200,
        "wires": [
            [
                "d1f8b9d63b955f19"
            ]
        ]
    },
    {
        "id": "d1f8b9d63b955f19",
        "type": "trigger",
        "z": "e68acb11e7363ed4",
        "g": "a37366edb2c4611f",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "b0109ed140a84444"
            ]
        ]
    },
    {
        "id": "5bc6f198c70856b5",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "864681114f74bc89"
            ]
        ]
    },
    {
        "id": "864681114f74bc89",
        "type": "ui_numeric",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "label": "Presence timeout",
        "tooltip": "",
        "group": "767267daa503112e",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 830,
        "y": 1060,
        "wires": [
            [
                "49d926296604264b"
            ]
        ]
    },
    {
        "id": "49d926296604264b",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35a39e5a794b93e7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.timeout",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "769553ac8215ef69",
        "type": "ui_text",
        "z": "e68acb11e7363ed4",
        "g": "5dcb29ba3ec1192f",
        "group": "8e3cc4e987f21141",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload.length}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "7b114ff72f1c4369",
        "type": "link in",
        "z": "e68acb11e7363ed4",
        "name": "link in 36",
        "links": [
            "41e82f8305a8e7a2",
            "3ecb626b56361038",
            "1920702e3dcc7554"
        ],
        "x": 125,
        "y": 460,
        "wires": [
            [
                "769553ac8215ef69"
            ]
        ]
    },
    {
        "id": "cec13b2e165499d7",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Counter",
        "info": "",
        "x": 210,
        "y": 460,
        "wires": []
    },
    {
        "id": "a6b440909f660b36",
        "type": "link in",
        "z": "e68acb11e7363ed4",
        "name": "link in 37",
        "links": [
            "b0109ed140a84444"
        ],
        "x": 125,
        "y": 500,
        "wires": [
            [
                "5aa407ab01d569ea"
            ]
        ]
    },
    {
        "id": "6e40f22e6acc0b15",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "State",
        "info": "",
        "x": 210,
        "y": 500,
        "wires": []
    },
    {
        "id": "5aa407ab01d569ea",
        "type": "ui_text",
        "z": "e68acb11e7363ed4",
        "g": "5dcb29ba3ec1192f",
        "group": "8e3cc4e987f21141",
        "order": 3,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Presence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 360,
        "y": 500,
        "wires": []
    },
    {
        "id": "b0109ed140a84444",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "state",
        "mode": "link",
        "links": [
            "6403dea32c18be31",
            "a6b440909f660b36"
        ],
        "x": 1335,
        "y": 200,
        "wires": []
    },
    {
        "id": "a483db119c2e8438",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "state",
        "info": "",
        "x": 1230,
        "y": 200,
        "wires": []
    },
    {
        "id": "990fe2bdae8dc110",
        "type": "catch",
        "z": "e68acb11e7363ed4",
        "g": "35af426185205206",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1300,
        "wires": [
            [
                "c49c2f2f2a7e8760",
                "065ea8b233f06af2"
            ]
        ]
    },
    {
        "id": "c49c2f2f2a7e8760",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "35af426185205206",
        "name": "Error message",
        "func": "msg.topic = \"exception/ObjectDection\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "2f641af7789e2ca0",
                "6d8e3ff285c2ce64"
            ]
        ]
    },
    {
        "id": "065ea8b233f06af2",
        "type": "debug",
        "z": "e68acb11e7363ed4",
        "g": "35af426185205206",
        "name": "debug 198",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1360,
        "wires": []
    },
    {
        "id": "2f641af7789e2ca0",
        "type": "change",
        "z": "e68acb11e7363ed4",
        "g": "35af426185205206",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1360,
        "wires": [
            [
                "d9d75b6d3b7c60c8"
            ]
        ]
    },
    {
        "id": "d9d75b6d3b7c60c8",
        "type": "ui_toast",
        "z": "e68acb11e7363ed4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba3a12381a0242f",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "exception",
        "info": "",
        "x": 1000,
        "y": 1300,
        "wires": []
    },
    {
        "id": "6d8e3ff285c2ce64",
        "type": "link out",
        "z": "e68acb11e7363ed4",
        "name": "exception",
        "mode": "link",
        "links": [
            "3c2ea4cc7b1c8688"
        ],
        "x": 1105,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ca5882e071146eae",
        "type": "comment",
        "z": "e68acb11e7363ed4",
        "name": "Connect to these link nodes to trigger and process",
        "info": "",
        "x": 1590,
        "y": 180,
        "wires": []
    },
    {
        "id": "38437e5fc35eb643",
        "type": "ui_template",
        "z": "e68acb11e7363ed4",
        "g": "5dcb29ba3ec1192f",
        "group": "8e3cc4e987f21141",
        "name": "Visualization",
        "order": 4,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "fdef647ab9c96491"
            ]
        ]
    },
    {
        "id": "6301413aee9368ef",
        "type": "function",
        "z": "e68acb11e7363ed4",
        "g": "5dcb29ba3ec1192f",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "38437e5fc35eb643",
                "7912389bbf0aabf5"
            ]
        ]
    },
    {
        "id": "bbe9ef9c12f295e2",
        "type": "ui_button",
        "z": "e68acb11e7363ed4",
        "g": "5dcb29ba3ec1192f",
        "name": "",
        "group": "8e3cc4e987f21141",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "6301413aee9368ef"
            ]
        ]
    },
    {
        "id": "767267daa503112e",
        "type": "ui_group",
        "name": "Settings",
        "tab": "19d99d34686b3d45",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e3cc4e987f21141",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "19d99d34686b3d45",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19d99d34686b3d45",
        "type": "ui_tab",
        "name": "Object detections",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
