examples/Object Detections.json
[
    {
        "id": "1a17748edec0ea05",
        "type": "tab",
        "label": "Object Detections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "edcec7bc5724b480",
        "type": "group",
        "z": "1a17748edec0ea05",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "97c7dddbae01a661",
            "1f68c636c5fef223",
            "132d2c2963e2f840",
            "6adc69436e6110d4",
            "a0c4d0f9bf91bad5",
            "df6869be45db7f3b",
            "37f072ceb447c545",
            "24c46b01a21d7dd5",
            "df37391fe9b9be94",
            "e8bc7b7061b5eb2a",
            "9afeb9ba93ba10e7",
            "011d68ac2f59fdaa",
            "c4fa728694eebdca",
            "3eaef4ac2d3f5356",
            "06156aee0c88744c",
            "055d750307a9cd75",
            "84dd9c9770f7ed0a",
            "e72c449503726619",
            "2bdfb2daa3f705fd",
            "a38de5dcda7c2157",
            "8bb055558e5479b4",
            "270df166fb22805b",
            "787a83994bb1f024",
            "c023cb7b9a9c0907"
        ],
        "x": 234,
        "y": 1039,
        "w": 1012,
        "h": 422
    },
    {
        "id": "3128e903a8afadf2",
        "type": "group",
        "z": "1a17748edec0ea05",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "9beaa0e82e2e15a0",
            "3fb35401fa2806d1",
            "a021e71da5277da8",
            "3485a4774f272017",
            "6ca30915f3bf9dd2"
        ],
        "x": 234,
        "y": 299,
        "w": 872,
        "h": 162
    },
    {
        "id": "21b7cfe88907d4a6",
        "type": "group",
        "z": "1a17748edec0ea05",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "470ddaaf4a51da8f",
            "85ab9f5a4da85cce",
            "4768f96256862dcc",
            "d318ffa2d422b981",
            "c981f16dc6939fe7",
            "55eb31813b015701"
        ],
        "x": 234,
        "y": 499,
        "w": 732,
        "h": 262
    },
    {
        "id": "6348b536d405c29f",
        "type": "group",
        "z": "1a17748edec0ea05",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "6415760cb9a63c11",
            "a171580ec2bfa1cf",
            "9da19c1c16f7486d",
            "947af38f1dfa7e46",
            "35625182fb5835bd",
            "c3394b2d575897a5",
            "adc35c96a17dc96c",
            "0d4c89f5c3413f9f",
            "40f72091e0a88e87",
            "682dfb3a7b521cd6"
        ],
        "x": 234,
        "y": 799,
        "w": 1052,
        "h": 202
    },
    {
        "id": "d90104366622d435",
        "type": "group",
        "z": "1a17748edec0ea05",
        "name": "Exceptions",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "79db354f196cf4fd",
            "3203c4b6247196c6",
            "7ad944d22b7775cc",
            "12e8c965d26d9dd7"
        ],
        "x": 234,
        "y": 1499,
        "w": 642,
        "h": 142
    },
    {
        "id": "652584f05b385b23",
        "type": "group",
        "z": "1a17748edec0ea05",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "5eef9104c4bd8fd3",
            "cf7bd1fc1d843f74",
            "166d6a72fe4335ac",
            "a6c909e0c2ce599a",
            "8c024a77646cee8b",
            "dd7d151ed42eae25",
            "5e3da68dc921138c",
            "77443d66321c5518",
            "923b5203f665441f",
            "47124a7cdf3d9f9d"
        ],
        "x": 224,
        "y": 39,
        "w": 882,
        "h": 222
    },
    {
        "id": "c4fa728694eebdca",
        "type": "junction",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "x": 1220,
        "y": 1080,
        "wires": [
            [
                "0b8fb531eb05013c"
            ]
        ]
    },
    {
        "id": "84dd9c9770f7ed0a",
        "type": "junction",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "x": 980,
        "y": 1380,
        "wires": [
            [
                "a8f3c754be72c93d"
            ]
        ]
    },
    {
        "id": "4da0ee8c7eb7f88a",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "detections",
        "mode": "link",
        "links": [
            "4931cf2b55c27a1b"
        ],
        "x": 1335,
        "y": 340,
        "wires": []
    },
    {
        "id": "4931cf2b55c27a1b",
        "type": "link in",
        "z": "1a17748edec0ea05",
        "name": "Visualize",
        "links": [
            "a8f3c754be72c93d",
            "4da0ee8c7eb7f88a"
        ],
        "x": 55,
        "y": 620,
        "wires": [
            [
                "c981f16dc6939fe7"
            ]
        ]
    },
    {
        "id": "f172994dd35b196d",
        "type": "inject",
        "z": "1a17748edec0ea05",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "6415760cb9a63c11"
            ]
        ]
    },
    {
        "id": "ee6f37e1a6f0c959",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "detections",
        "info": "",
        "x": 1240,
        "y": 340,
        "wires": []
    },
    {
        "id": "97b7bb0301fbd917",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "17a7b0bb1f5eed92"
        ],
        "x": 1455,
        "y": 840,
        "wires": []
    },
    {
        "id": "82f1c63697048d5d",
        "type": "link in",
        "z": "1a17748edec0ea05",
        "name": "Update Settings",
        "links": [
            "7d81bb3c9f8146d3",
            "0b8fb531eb05013c"
        ],
        "x": 65,
        "y": 960,
        "wires": [
            [
                "adc35c96a17dc96c"
            ]
        ]
    },
    {
        "id": "773d988ecc48222a",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Init",
        "info": "",
        "x": 1350,
        "y": 840,
        "wires": []
    },
    {
        "id": "7d81bb3c9f8146d3",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "82f1c63697048d5d"
        ],
        "x": 1135,
        "y": 620,
        "wires": []
    },
    {
        "id": "72b43eb3c9299e05",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Update",
        "info": "",
        "x": 150,
        "y": 960,
        "wires": []
    },
    {
        "id": "17a7b0bb1f5eed92",
        "type": "link in",
        "z": "1a17748edec0ea05",
        "name": "link in 33",
        "links": [
            "97b7bb0301fbd917"
        ],
        "x": 65,
        "y": 1080,
        "wires": [
            [
                "24c46b01a21d7dd5"
            ]
        ]
    },
    {
        "id": "0b8fb531eb05013c",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "82f1c63697048d5d"
        ],
        "x": 1415,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e6b2934740bf93b9",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Init",
        "info": "",
        "x": 150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "25a505f6a61651fb",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Updated",
        "info": "",
        "x": 1320,
        "y": 1080,
        "wires": []
    },
    {
        "id": "2475fdea9f50c75d",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Visualize",
        "info": "",
        "x": 160,
        "y": 620,
        "wires": []
    },
    {
        "id": "a8f3c754be72c93d",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "aoi",
        "mode": "link",
        "links": [
            "4931cf2b55c27a1b"
        ],
        "x": 1415,
        "y": 1380,
        "wires": []
    },
    {
        "id": "225b4fe71374f628",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Updated",
        "info": "",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "6bdbd58034ef15c7",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Visualize",
        "info": "",
        "x": 1320,
        "y": 1380,
        "wires": []
    },
    {
        "id": "37474d11a3e95ea2",
        "type": "link in",
        "z": "1a17748edec0ea05",
        "name": "link in 34",
        "links": [
            "472d30ce0e6f3c01"
        ],
        "x": 65,
        "y": 840,
        "wires": [
            [
                "6415760cb9a63c11"
            ]
        ]
    },
    {
        "id": "472d30ce0e6f3c01",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "Start",
        "mode": "link",
        "links": [
            "37474d11a3e95ea2"
        ],
        "x": 1125,
        "y": 540,
        "wires": []
    },
    {
        "id": "58fa6243b401f66d",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Start",
        "info": "",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "f332728bafe877d1",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Start",
        "info": "",
        "x": 150,
        "y": 840,
        "wires": []
    },
    {
        "id": "97c7dddbae01a661",
        "type": "ui_numeric",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "group": "d0079553ff269806",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "132d2c2963e2f840"
            ]
        ]
    },
    {
        "id": "1f68c636c5fef223",
        "type": "ui_numeric",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "d0079553ff269806",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 760,
        "y": 1200,
        "wires": [
            [
                "6adc69436e6110d4"
            ]
        ]
    },
    {
        "id": "132d2c2963e2f840",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1160,
        "wires": [
            [
                "c4fa728694eebdca"
            ]
        ]
    },
    {
        "id": "6adc69436e6110d4",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1200,
        "wires": [
            [
                "c4fa728694eebdca"
            ]
        ]
    },
    {
        "id": "a0c4d0f9bf91bad5",
        "type": "ui_dropdown",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "d0079553ff269806",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "LicensePlate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Animal",
                "value": "Animal",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "df6869be45db7f3b"
            ]
        ]
    },
    {
        "id": "df6869be45db7f3b",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "c4fa728694eebdca"
            ]
        ]
    },
    {
        "id": "37f072ceb447c545",
        "type": "ui_dropdown",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "d0079553ff269806",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "e72c449503726619"
            ]
        ]
    },
    {
        "id": "24c46b01a21d7dd5",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "df37391fe9b9be94",
                "e8bc7b7061b5eb2a",
                "9afeb9ba93ba10e7",
                "011d68ac2f59fdaa",
                "2bdfb2daa3f705fd",
                "270df166fb22805b"
            ]
        ]
    },
    {
        "id": "df37391fe9b9be94",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "37f072ceb447c545"
            ]
        ]
    },
    {
        "id": "e8bc7b7061b5eb2a",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "a0c4d0f9bf91bad5"
            ]
        ]
    },
    {
        "id": "9afeb9ba93ba10e7",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "97c7dddbae01a661"
            ]
        ]
    },
    {
        "id": "011d68ac2f59fdaa",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1200,
        "wires": [
            [
                "1f68c636c5fef223"
            ]
        ]
    },
    {
        "id": "3eaef4ac2d3f5356",
        "type": "ui_button",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "group": "d0079553ff269806",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Area of Intrest",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 1380,
        "wires": [
            [
                "06156aee0c88744c"
            ]
        ]
    },
    {
        "id": "06156aee0c88744c",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1380,
        "wires": [
            [
                "84dd9c9770f7ed0a"
            ]
        ]
    },
    {
        "id": "055d750307a9cd75",
        "type": "ui_button",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "group": "d0079553ff269806",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "84dd9c9770f7ed0a"
            ]
        ]
    },
    {
        "id": "e72c449503726619",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "c4fa728694eebdca"
            ]
        ]
    },
    {
        "id": "9beaa0e82e2e15a0",
        "type": "Objects",
        "z": "1a17748edec0ea05",
        "g": "3128e903a8afadf2",
        "version": "1",
        "output": "1",
        "confidence": "20",
        "rotation": "0",
        "cog": "0",
        "idle": "9999999",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "3fb35401fa2806d1"
            ]
        ]
    },
    {
        "id": "3fb35401fa2806d1",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "3128e903a8afadf2",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var classMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            classMatch = true;\n        if( item.class === \"Face\" && element === \"Head\")\n            classMatch = true;\n    });\n    if (!classMatch)\n        return;\n    if( settings.aoi ) {\n        if( item.cx < settings.aoi.x1 )\n            return;\n        if (item.cx > settings.aoi.x2)\n            return;\n        if (item.cy < settings.aoi.y1)\n            return;\n        if (item.cy > settings.aoi.y2)\n            return;\n    }            \n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "4da0ee8c7eb7f88a",
                "a021e71da5277da8",
                "3485a4774f272017"
            ]
        ]
    },
    {
        "id": "470ddaaf4a51da8f",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "21b7cfe88907d4a6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "7d81bb3c9f8146d3"
            ]
        ]
    },
    {
        "id": "85ab9f5a4da85cce",
        "type": "ui_button",
        "z": "1a17748edec0ea05",
        "g": "21b7cfe88907d4a6",
        "name": "",
        "group": "65a5b61e19aeddc9",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "472d30ce0e6f3c01",
                "55eb31813b015701"
            ]
        ]
    },
    {
        "id": "6415760cb9a63c11",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "Default settings",
        "func": "msg.payload = {\n    service: \"ObjectDetections\",\n    aoi: {\n        id: \"aoi\",\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n    age: 2,\n    distance: 10,\n    confidence: 30,\n    classes: [\"Human\", \"Car\"],\n    timeout: 5,\n    threshold: 1\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 840,
        "wires": [
            [
                "a171580ec2bfa1cf"
            ]
        ]
    },
    {
        "id": "a171580ec2bfa1cf",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 840,
        "wires": [
            [
                "9da19c1c16f7486d"
            ]
        ]
    },
    {
        "id": "9da19c1c16f7486d",
        "type": "file in",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 800,
        "y": 840,
        "wires": [
            [
                "947af38f1dfa7e46"
            ]
        ]
    },
    {
        "id": "947af38f1dfa7e46",
        "type": "json",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "35625182fb5835bd"
            ]
        ]
    },
    {
        "id": "35625182fb5835bd",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "97b7bb0301fbd917"
            ]
        ]
    },
    {
        "id": "c3394b2d575897a5",
        "type": "catch",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "",
        "scope": [
            "9da19c1c16f7486d"
        ],
        "uncaught": false,
        "x": 320,
        "y": 920,
        "wires": [
            [
                "adc35c96a17dc96c"
            ]
        ]
    },
    {
        "id": "adc35c96a17dc96c",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 960,
        "wires": [
            [
                "682dfb3a7b521cd6"
            ]
        ]
    },
    {
        "id": "0d4c89f5c3413f9f",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 960,
        "wires": [
            [
                "40f72091e0a88e87"
            ]
        ]
    },
    {
        "id": "40f72091e0a88e87",
        "type": "file",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1050,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "a021e71da5277da8",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "3128e903a8afadf2",
        "name": "Presence counter",
        "func": "if( msg.changes === null )\n    return;\n\nvar device = global.get(\"device\");\nif(!device) {\n    node.error(\"Missing global.device. Check Readme\",msg);\n    return;\n}\nvar settings = flow.get(\"settings\");\nif(!settings) {\n    node.error(\"Missing global.device.camera. Check Readme\",msg);\n    return;\n}\n\nvar counter = flow.get(\"detectionsCounter\") || 0;\nif( msg.payload.length === counter )\n    return;\ncounter = msg.payload.length;\nflow.set(\"detectionsCounter\",counter);\nmsg.topic = \"presence/counter/\" + device.serial;\nmsg.payload = counter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "824ef716deca2ddb"
            ]
        ]
    },
    {
        "id": "3485a4774f272017",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "3128e903a8afadf2",
        "name": "Presence state",
        "func": "var threshold = flow.get(\"settings\").threshold || 1;\n\nif (msg.payload.length < threshold)\n    return;\n\nmsg.delay = flow.get(\"settings\").timeout * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "6ca30915f3bf9dd2"
            ]
        ]
    },
    {
        "id": "6ca30915f3bf9dd2",
        "type": "trigger",
        "z": "1a17748edec0ea05",
        "g": "3128e903a8afadf2",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "4840c67d91093e53"
            ]
        ]
    },
    {
        "id": "824ef716deca2ddb",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "counter",
        "mode": "link",
        "links": [
            "c99e654cc281a6db"
        ],
        "x": 1335,
        "y": 380,
        "wires": []
    },
    {
        "id": "97f9868abe02645f",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "counter",
        "info": "",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "2bdfb2daa3f705fd",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "a38de5dcda7c2157"
            ]
        ]
    },
    {
        "id": "a38de5dcda7c2157",
        "type": "ui_numeric",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "label": "Presence transition",
        "tooltip": "",
        "group": "d0079553ff269806",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 790,
        "y": 1240,
        "wires": [
            [
                "8bb055558e5479b4"
            ]
        ]
    },
    {
        "id": "8bb055558e5479b4",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.timeout",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1240,
        "wires": [
            [
                "c4fa728694eebdca"
            ]
        ]
    },
    {
        "id": "4768f96256862dcc",
        "type": "ui_text",
        "z": "1a17748edec0ea05",
        "g": "21b7cfe88907d4a6",
        "group": "65a5b61e19aeddc9",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 680,
        "wires": []
    },
    {
        "id": "c99e654cc281a6db",
        "type": "link in",
        "z": "1a17748edec0ea05",
        "name": "link in 36",
        "links": [
            "824ef716deca2ddb"
        ],
        "x": 55,
        "y": 680,
        "wires": [
            [
                "4768f96256862dcc"
            ]
        ]
    },
    {
        "id": "1c38bfadbd901fb2",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "Counter",
        "info": "",
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "1acdd6616a59f175",
        "type": "link in",
        "z": "1a17748edec0ea05",
        "name": "link in 37",
        "links": [
            "4840c67d91093e53"
        ],
        "x": 55,
        "y": 720,
        "wires": [
            [
                "d318ffa2d422b981"
            ]
        ]
    },
    {
        "id": "5d3fb25fad6a5ceb",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "State",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "d318ffa2d422b981",
        "type": "ui_text",
        "z": "1a17748edec0ea05",
        "g": "21b7cfe88907d4a6",
        "group": "65a5b61e19aeddc9",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Presence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "4840c67d91093e53",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "state",
        "mode": "link",
        "links": [
            "1acdd6616a59f175"
        ],
        "x": 1335,
        "y": 420,
        "wires": []
    },
    {
        "id": "8d78d5b796e96729",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "state",
        "info": "",
        "x": 1230,
        "y": 420,
        "wires": []
    },
    {
        "id": "79db354f196cf4fd",
        "type": "catch",
        "z": "1a17748edec0ea05",
        "g": "d90104366622d435",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 340,
        "y": 1540,
        "wires": [
            [
                "3203c4b6247196c6",
                "7ad944d22b7775cc"
            ]
        ]
    },
    {
        "id": "3203c4b6247196c6",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "d90104366622d435",
        "name": "Message",
        "func": "msg.topic = \"ObjectDetections\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "12e8c965d26d9dd7",
                "2717ae63dcbf1128"
            ]
        ]
    },
    {
        "id": "7ad944d22b7775cc",
        "type": "debug",
        "z": "1a17748edec0ea05",
        "g": "d90104366622d435",
        "name": "debug 198",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1600,
        "wires": []
    },
    {
        "id": "12e8c965d26d9dd7",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "d90104366622d435",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1600,
        "wires": [
            [
                "11ca1c481b0d0546"
            ]
        ]
    },
    {
        "id": "11ca1c481b0d0546",
        "type": "ui_toast",
        "z": "1a17748edec0ea05",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1000,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "2f768247c754ef60",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "name": "exceptions",
        "info": "",
        "x": 970,
        "y": 1540,
        "wires": []
    },
    {
        "id": "2717ae63dcbf1128",
        "type": "link out",
        "z": "1a17748edec0ea05",
        "name": "exceptions",
        "mode": "link",
        "links": [],
        "x": 1065,
        "y": 1540,
        "wires": []
    },
    {
        "id": "270df166fb22805b",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "threshold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.threshold",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1280,
        "wires": [
            [
                "787a83994bb1f024"
            ]
        ]
    },
    {
        "id": "787a83994bb1f024",
        "type": "ui_numeric",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "label": "Presence threshold",
        "tooltip": "",
        "group": "d0079553ff269806",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} objects",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "c023cb7b9a9c0907"
            ]
        ]
    },
    {
        "id": "c023cb7b9a9c0907",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "edcec7bc5724b480",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1280,
        "wires": [
            [
                "c4fa728694eebdca"
            ]
        ]
    },
    {
        "id": "55eb31813b015701",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "21b7cfe88907d4a6",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "c981f16dc6939fe7"
            ]
        ]
    },
    {
        "id": "c981f16dc6939fe7",
        "type": "ui_template",
        "z": "1a17748edec0ea05",
        "g": "21b7cfe88907d4a6",
        "group": "65a5b61e19aeddc9",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 620,
        "wires": [
            [
                "470ddaaf4a51da8f"
            ]
        ]
    },
    {
        "id": "682dfb3a7b521cd6",
        "type": "function",
        "z": "1a17748edec0ea05",
        "g": "6348b536d405c29f",
        "name": "Validate",
        "func": "if(!msg.payload.hasOwnProperty(\"classes\"))\n    msg.payload.classes = [\"Human\", \"Car\"];\nif(!msg.payload.hasOwnProperty(\"age\"))\n    msg.payload.age = 1;\nif(!msg.payload.hasOwnProperty(\"distance\"))\n    msg.payload.distance = 20;\nif(!msg.payload.hasOwnProperty(\"confidence\"))\n    msg.payload.confidence = 30;\nif(!msg.payload.hasOwnProperty(\"aoi\"))\n    msg.payload.aoi = {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    };\n\nflow.set(\"settings\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 960,
        "wires": [
            [
                "0d4c89f5c3413f9f"
            ]
        ]
    },
    {
        "id": "5eef9104c4bd8fd3",
        "type": "Axis device",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "cf7bd1fc1d843f74",
                "923b5203f665441f"
            ]
        ]
    },
    {
        "id": "cf7bd1fc1d843f74",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "a6c909e0c2ce599a"
            ]
        ]
    },
    {
        "id": "166d6a72fe4335ac",
        "type": "inject",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "5eef9104c4bd8fd3",
                "8c024a77646cee8b"
            ]
        ]
    },
    {
        "id": "a6c909e0c2ce599a",
        "type": "debug",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "8c024a77646cee8b",
        "type": "Axis camera",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "5e3da68dc921138c"
            ]
        ]
    },
    {
        "id": "dd7d151ed42eae25",
        "type": "debug",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "Camera",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e3da68dc921138c",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "dd7d151ed42eae25"
            ]
        ]
    },
    {
        "id": "77443d66321c5518",
        "type": "comment",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "Initialize by setting device credentials and click the blue box on the left side of \"timestamp\"",
        "info": "",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "923b5203f665441f",
        "type": "change",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload.hostname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "47124a7cdf3d9f9d"
            ]
        ]
    },
    {
        "id": "47124a7cdf3d9f9d",
        "type": "debug",
        "z": "1a17748edec0ea05",
        "g": "652584f05b385b23",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0079553ff269806",
        "type": "ui_group",
        "name": "Settings",
        "tab": "12223d6a4e01ca37",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "65a5b61e19aeddc9",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "12223d6a4e01ca37",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "12223d6a4e01ca37",
        "type": "ui_tab",
        "name": "Object Detections",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]