examples/Object Tracker.json
[
    {
        "id": "9676460ef60f5c6c",
        "type": "tab",
        "label": "Object Tracker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a6a9eb73b9e03d01",
        "type": "group",
        "z": "9676460ef60f5c6c",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "ec699d1d963b3137",
            "db14d4c75b91cb5f",
            "9d0e6474f7ef209e",
            "d82936f9424b8b64",
            "478358711743150a",
            "8580dd6e51e32195",
            "4d84a1c9a424c630",
            "2ceaed66c5612fc3",
            "94a8f293d13c5969",
            "ace4671c71c6906b",
            "608987c0f089a122",
            "3b609f1bebde4669",
            "8f1be8c10d626a2f",
            "36fafe1508b036c9",
            "465564d8094a9467",
            "bf817b4f8ad216fa",
            "7808e4492d423d15",
            "cf29a7eb691f64cb"
        ],
        "x": 294,
        "y": 819,
        "w": 972,
        "h": 302
    },
    {
        "id": "99672f73f62d0e44",
        "type": "group",
        "z": "9676460ef60f5c6c",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e14971e73e0d5c1f",
            "21d84f71b1f2e39f"
        ],
        "x": 294,
        "y": 299,
        "w": 472,
        "h": 82
    },
    {
        "id": "d72cd1f414e20a9c",
        "type": "group",
        "z": "9676460ef60f5c6c",
        "name": "Video & Augmentation",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c32ad8d62086cc3d",
            "f82473abcfe10766",
            "4fa3aaef5776a128",
            "f5a8674bc4d6167c"
        ],
        "x": 294,
        "y": 419,
        "w": 762,
        "h": 122
    },
    {
        "id": "ea0dd3c5bc6642d4",
        "type": "group",
        "z": "9676460ef60f5c6c",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "e05768550abd2c5e",
            "66d81ecf59ffdc47",
            "2778e6a2aa6c2cc0",
            "2522c1b2bdedcfb8",
            "93ebeeb64abc1be3",
            "cd73cde78c114b04",
            "53647bf6bf827869",
            "be74325c1ee07908",
            "9cd6fec4a03fd016"
        ],
        "x": 294,
        "y": 579,
        "w": 992,
        "h": 202
    },
    {
        "id": "c568dcb46199098b",
        "type": "group",
        "z": "9676460ef60f5c6c",
        "name": "Exception",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "d7c95f48dcb1a590",
            "8d8b7254826e0484",
            "6ca9aa29e9345d35"
        ],
        "x": 294,
        "y": 1159,
        "w": 592,
        "h": 142
    },
    {
        "id": "ab93fd24447fc37d",
        "type": "group",
        "z": "9676460ef60f5c6c",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "ff50e00e5e61833b",
            "7e7ec3a162ef937b",
            "ced22d306c358d58",
            "22c395f95d44db8e",
            "268c5793ab1e2d22",
            "8a5ba6f795576308",
            "b2061f337ef3aa44",
            "958a610352dc8df7",
            "2e03d97f162c6625",
            "71e3a0c3ee224d72"
        ],
        "x": 294,
        "y": 39,
        "w": 872,
        "h": 222
    },
    {
        "id": "8f1be8c10d626a2f",
        "type": "junction",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "x": 1240,
        "y": 860,
        "wires": [
            [
                "8b52d394ea42c2dc"
            ]
        ]
    },
    {
        "id": "7808e4492d423d15",
        "type": "junction",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "x": 820,
        "y": 1040,
        "wires": [
            [
                "2ec402daca54eb61"
            ]
        ]
    },
    {
        "id": "c097e72dbb537049",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "tracker",
        "mode": "link",
        "links": [
            "fd10e1c1b3991a3f"
        ],
        "x": 1175,
        "y": 340,
        "wires": []
    },
    {
        "id": "fd10e1c1b3991a3f",
        "type": "link in",
        "z": "9676460ef60f5c6c",
        "name": "link in 38",
        "links": [
            "c097e72dbb537049",
            "2ec402daca54eb61"
        ],
        "x": 115,
        "y": 500,
        "wires": [
            [
                "c32ad8d62086cc3d"
            ]
        ]
    },
    {
        "id": "1852b3afe7c18f8d",
        "type": "inject",
        "z": "9676460ef60f5c6c",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "e05768550abd2c5e"
            ]
        ]
    },
    {
        "id": "e5f272ba09350312",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "tracker",
        "info": "",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "444064f965678c3c",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "504a7d27a8f90adb"
        ],
        "x": 1455,
        "y": 620,
        "wires": []
    },
    {
        "id": "e00c077faf21c2db",
        "type": "link in",
        "z": "9676460ef60f5c6c",
        "name": "Update Settings",
        "links": [
            "a7257febda1bc487",
            "8b52d394ea42c2dc"
        ],
        "x": 135,
        "y": 740,
        "wires": [
            [
                "53647bf6bf827869"
            ]
        ]
    },
    {
        "id": "d3033584a6191160",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Init",
        "info": "",
        "x": 1350,
        "y": 620,
        "wires": []
    },
    {
        "id": "a7257febda1bc487",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "link out 26",
        "mode": "link",
        "links": [
            "e00c077faf21c2db"
        ],
        "x": 1095,
        "y": 500,
        "wires": []
    },
    {
        "id": "4e833d163fc7f1e1",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Update",
        "info": "",
        "x": 220,
        "y": 740,
        "wires": []
    },
    {
        "id": "504a7d27a8f90adb",
        "type": "link in",
        "z": "9676460ef60f5c6c",
        "name": "link in 39",
        "links": [
            "444064f965678c3c"
        ],
        "x": 125,
        "y": 860,
        "wires": [
            [
                "2ceaed66c5612fc3"
            ]
        ]
    },
    {
        "id": "8b52d394ea42c2dc",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "e00c077faf21c2db"
        ],
        "x": 1455,
        "y": 860,
        "wires": []
    },
    {
        "id": "5c7dd986ac1564ca",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Init",
        "info": "",
        "x": 210,
        "y": 860,
        "wires": []
    },
    {
        "id": "19da428c9de2c2af",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Updated",
        "info": "",
        "x": 1340,
        "y": 860,
        "wires": []
    },
    {
        "id": "61282c7db4fde13e",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Visualize",
        "info": "",
        "x": 210,
        "y": 500,
        "wires": []
    },
    {
        "id": "2ec402daca54eb61",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "link out 27",
        "mode": "link",
        "links": [
            "fd10e1c1b3991a3f"
        ],
        "x": 1465,
        "y": 1040,
        "wires": []
    },
    {
        "id": "573721670960760a",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Visualize",
        "info": "",
        "x": 1360,
        "y": 1040,
        "wires": []
    },
    {
        "id": "89eb9c2340e33454",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "Start",
        "mode": "link",
        "links": [
            "96a7d85bb9b62478"
        ],
        "x": 1095,
        "y": 460,
        "wires": []
    },
    {
        "id": "a6345117ba8b4565",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "Start",
        "info": "",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "96a7d85bb9b62478",
        "type": "link in",
        "z": "9676460ef60f5c6c",
        "name": "link in 40",
        "links": [
            "89eb9c2340e33454"
        ],
        "x": 125,
        "y": 620,
        "wires": [
            [
                "e05768550abd2c5e"
            ]
        ]
    },
    {
        "id": "7c1d7e70d8c89b1c",
        "type": "ui_toast",
        "z": "9676460ef60f5c6c",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "90878e0dd393f9f4",
        "type": "link out",
        "z": "9676460ef60f5c6c",
        "name": "exceptions",
        "mode": "link",
        "links": [],
        "x": 1085,
        "y": 1200,
        "wires": []
    },
    {
        "id": "959355ebf7ed05e1",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "name": "exception",
        "info": "",
        "x": 980,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ec699d1d963b3137",
        "type": "ui_numeric",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "label": "Minimum age",
        "tooltip": "",
        "group": "66c46cc503fe5356",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 820,
        "y": 940,
        "wires": [
            [
                "9d0e6474f7ef209e"
            ]
        ]
    },
    {
        "id": "db14d4c75b91cb5f",
        "type": "ui_numeric",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "label": "Minimum distance",
        "tooltip": "",
        "group": "66c46cc503fe5356",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 830,
        "y": 980,
        "wires": [
            [
                "d82936f9424b8b64"
            ]
        ]
    },
    {
        "id": "9d0e6474f7ef209e",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 940,
        "wires": [
            [
                "8f1be8c10d626a2f"
            ]
        ]
    },
    {
        "id": "d82936f9424b8b64",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 980,
        "wires": [
            [
                "8f1be8c10d626a2f"
            ]
        ]
    },
    {
        "id": "478358711743150a",
        "type": "ui_dropdown",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "66c46cc503fe5356",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Animal",
                "value": "Animal",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 900,
        "wires": [
            [
                "8580dd6e51e32195"
            ]
        ]
    },
    {
        "id": "8580dd6e51e32195",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 900,
        "wires": [
            [
                "8f1be8c10d626a2f"
            ]
        ]
    },
    {
        "id": "4d84a1c9a424c630",
        "type": "ui_dropdown",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "66c46cc503fe5356",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 860,
        "wires": [
            [
                "cf29a7eb691f64cb"
            ]
        ]
    },
    {
        "id": "2ceaed66c5612fc3",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 860,
        "wires": [
            [
                "94a8f293d13c5969",
                "ace4671c71c6906b",
                "608987c0f089a122",
                "3b609f1bebde4669"
            ]
        ]
    },
    {
        "id": "94a8f293d13c5969",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 860,
        "wires": [
            [
                "4d84a1c9a424c630"
            ]
        ]
    },
    {
        "id": "ace4671c71c6906b",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 900,
        "wires": [
            [
                "478358711743150a"
            ]
        ]
    },
    {
        "id": "608987c0f089a122",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "ec699d1d963b3137"
            ]
        ]
    },
    {
        "id": "3b609f1bebde4669",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 980,
        "wires": [
            [
                "db14d4c75b91cb5f"
            ]
        ]
    },
    {
        "id": "36fafe1508b036c9",
        "type": "ui_button",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "group": "66c46cc503fe5356",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Set area objects must pass",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 1040,
        "wires": [
            [
                "465564d8094a9467"
            ]
        ]
    },
    {
        "id": "465564d8094a9467",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1040,
        "wires": [
            [
                "7808e4492d423d15"
            ]
        ]
    },
    {
        "id": "bf817b4f8ad216fa",
        "type": "ui_button",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "",
        "group": "66c46cc503fe5356",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 690,
        "y": 1080,
        "wires": [
            [
                "7808e4492d423d15"
            ]
        ]
    },
    {
        "id": "cf29a7eb691f64cb",
        "type": "function",
        "z": "9676460ef60f5c6c",
        "g": "a6a9eb73b9e03d01",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 860,
        "wires": [
            [
                "8f1be8c10d626a2f"
            ]
        ]
    },
    {
        "id": "e14971e73e0d5c1f",
        "type": "Objects",
        "z": "9676460ef60f5c6c",
        "g": "99672f73f62d0e44",
        "version": "1",
        "output": "2",
        "confidence": "20",
        "rotation": "0",
        "cog": "1",
        "idle": "9999999",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "21d84f71b1f2e39f"
            ]
        ]
    },
    {
        "id": "21d84f71b1f2e39f",
        "type": "function",
        "z": "9676460ef60f5c6c",
        "g": "99672f73f62d0e44",
        "name": "Filter",
        "func": "var settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar trackers = flow.get(\"trackers\") || {};\n\nmsg.changes = null;\n\nif( msg.payload.active === false ) {\n    if( !trackers.hasOwnProperty(msg.payload.id) )\n        return;\n    delete trackers[msg.payload.id];\n    flow.set(\"trackers\",trackers);\n    node.send(msg);\n    return;\n}\n\nif( trackers.hasOwnProperty(msg.payload.id) )\n    return msg;\n\nvar ignore = false;\n\nif( msg.payload.distance < settings.distance) \n    ignore = true;\n\nif( !ignore && msg.payload.confidnece < settings.confidence )\n    ignore = true;\n\nif( msg.payload.age < settings.age)  \n    ignore = true;\n\nvar classMatch = false;\nsettings.classes.forEach(function(element) {\n    if( element === msg.payload.class )\n        classMatch = true;\n    if (element === \"Head\" && msg.payload.class === \"Face\")\n        classMatch = true;\n});\n\nif(!classMatch)\n    ignore = true;\n\nif (msg.payload.cx < settings.aoi.x1 || \n    msg.payload.cx > settings.aoi.x2 ||\n    msg.payload.cy < settings.aoi.y1 ||\n    msg.payload.cy > settings.aoi.y2)\n       ignore = true;\n\nif( ignore  )\n    return;\n\n trackers[msg.payload.id] = msg.payload;\n flow.set(\"trackers\",trackers);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 340,
        "wires": [
            [
                "c097e72dbb537049"
            ]
        ]
    },
    {
        "id": "c32ad8d62086cc3d",
        "type": "ui_template",
        "z": "9676460ef60f5c6c",
        "g": "d72cd1f414e20a9c",
        "group": "429313d01714fd9f",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "f82473abcfe10766"
            ]
        ]
    },
    {
        "id": "f82473abcfe10766",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "d72cd1f414e20a9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 500,
        "wires": [
            [
                "a7257febda1bc487"
            ]
        ]
    },
    {
        "id": "4fa3aaef5776a128",
        "type": "ui_button",
        "z": "9676460ef60f5c6c",
        "g": "d72cd1f414e20a9c",
        "name": "",
        "group": "429313d01714fd9f",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "89eb9c2340e33454",
                "f5a8674bc4d6167c"
            ]
        ]
    },
    {
        "id": "f5a8674bc4d6167c",
        "type": "function",
        "z": "9676460ef60f5c6c",
        "g": "d72cd1f414e20a9c",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "c32ad8d62086cc3d"
            ]
        ]
    },
    {
        "id": "e05768550abd2c5e",
        "type": "function",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "Default settings",
        "func": "msg.payload = {\n    classes: [\"Human\", \"Car\"],\n    age: 1,\n    distance: 20,\n    confidence: 30,\n    aoi: {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 620,
        "wires": [
            [
                "66d81ecf59ffdc47"
            ]
        ]
    },
    {
        "id": "66d81ecf59ffdc47",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 620,
        "wires": [
            [
                "2778e6a2aa6c2cc0"
            ]
        ]
    },
    {
        "id": "2778e6a2aa6c2cc0",
        "type": "file in",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "",
        "filename": "sdcard/ObjectTracker.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "2522c1b2bdedcfb8"
            ]
        ]
    },
    {
        "id": "2522c1b2bdedcfb8",
        "type": "json",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "93ebeeb64abc1be3"
            ]
        ]
    },
    {
        "id": "93ebeeb64abc1be3",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "444064f965678c3c"
            ]
        ]
    },
    {
        "id": "cd73cde78c114b04",
        "type": "catch",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "",
        "scope": [
            "2778e6a2aa6c2cc0"
        ],
        "uncaught": false,
        "x": 380,
        "y": 700,
        "wires": [
            [
                "53647bf6bf827869"
            ]
        ]
    },
    {
        "id": "53647bf6bf827869",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "be74325c1ee07908"
            ]
        ]
    },
    {
        "id": "be74325c1ee07908",
        "type": "function",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 740,
        "wires": [
            [
                "9cd6fec4a03fd016"
            ]
        ]
    },
    {
        "id": "9cd6fec4a03fd016",
        "type": "file",
        "z": "9676460ef60f5c6c",
        "g": "ea0dd3c5bc6642d4",
        "name": "",
        "filename": "sdcard/ObjectTracker.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 970,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d7c95f48dcb1a590",
        "type": "catch",
        "z": "9676460ef60f5c6c",
        "g": "c568dcb46199098b",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "8d8b7254826e0484"
            ]
        ]
    },
    {
        "id": "8d8b7254826e0484",
        "type": "function",
        "z": "9676460ef60f5c6c",
        "g": "c568dcb46199098b",
        "name": "Message",
        "func": "msg.topic = \"ObjectTracker\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1200,
        "wires": [
            [
                "6ca9aa29e9345d35",
                "90878e0dd393f9f4"
            ]
        ]
    },
    {
        "id": "6ca9aa29e9345d35",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "c568dcb46199098b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1260,
        "wires": [
            [
                "7c1d7e70d8c89b1c"
            ]
        ]
    },
    {
        "id": "ff50e00e5e61833b",
        "type": "Axis device",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 610,
        "y": 140,
        "wires": [
            [
                "7e7ec3a162ef937b",
                "2e03d97f162c6625"
            ]
        ]
    },
    {
        "id": "7e7ec3a162ef937b",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "22c395f95d44db8e"
            ]
        ]
    },
    {
        "id": "ced22d306c358d58",
        "type": "inject",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "ff50e00e5e61833b",
                "268c5793ab1e2d22"
            ]
        ]
    },
    {
        "id": "22c395f95d44db8e",
        "type": "debug",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "268c5793ab1e2d22",
        "type": "Axis camera",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "b2061f337ef3aa44"
            ]
        ]
    },
    {
        "id": "8a5ba6f795576308",
        "type": "debug",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "Camera",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "b2061f337ef3aa44",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "8a5ba6f795576308"
            ]
        ]
    },
    {
        "id": "958a610352dc8df7",
        "type": "comment",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "Initialize by setting device credentials and click the blue box on the left side of \"timestamp\"",
        "info": "",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "2e03d97f162c6625",
        "type": "change",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload.hostname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 180,
        "wires": [
            [
                "71e3a0c3ee224d72"
            ]
        ]
    },
    {
        "id": "71e3a0c3ee224d72",
        "type": "debug",
        "z": "9676460ef60f5c6c",
        "g": "ab93fd24447fc37d",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "66c46cc503fe5356",
        "type": "ui_group",
        "name": "Settings",
        "tab": "3947e13f81d3f8cf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "429313d01714fd9f",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "3947e13f81d3f8cf",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "3947e13f81d3f8cf",
        "type": "ui_tab",
        "name": "Object Tracker",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]