examples/Objects.json
[
    {
        "id": "d72747adda9a706a",
        "type": "tab",
        "label": "Objects",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4aa0a3181301b01e",
        "type": "Objects",
        "z": "d72747adda9a706a",
        "version": "1",
        "output": "2",
        "classFilter": "-1",
        "confidence": "0",
        "rotation": "0",
        "cog": "1",
        "predictions": "1",
        "x": 310,
        "y": 220,
        "wires": [
            [
                "3cbfd78351d7012b"
            ]
        ]
    },
    {
        "id": "6ed27905e14f4dd1",
        "type": "catch",
        "z": "d72747adda9a706a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "c416d324449504de"
            ]
        ]
    },
    {
        "id": "c416d324449504de",
        "type": "debug",
        "z": "d72747adda9a706a",
        "name": "Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "62e79732f6db0cfc",
        "type": "ui_template",
        "z": "d72747adda9a706a",
        "group": "0d7b022bf27a54b7",
        "name": "Augmented Video",
        "order": 5,
        "width": "16",
        "height": "16",
        "format": "<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'player_'+$id}}\"></div>\n\n<script>\nvar ctx = null;\nvar canvas = null;\nvar trackers = {};\n\n(function(scope) {\nscope.$watch('msg', function(msg) {\n    if (!msg)\n      return;\n    console.log(msg.topic);\n    var width = 1280;\n    var height = 720;\n\n    if( msg.topic === \"video\" ) {\n        var width = msg.width || 1280;\n        var height = msg.height || 720;\n        var rotation = msg.rotation || 0;\n\n        $(\"#player_\"+scope.$id).empty();\n\n        if(rotation == 90 || rotation == 270 ) {\n            $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:450px; height:800px;\">');\n        } else {\n            $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:800px; height:450px;\">');\n        }\n        $(\"#view_\"+scope.$id).append('<div id=\"canvas_'+ scope.$id + '\" style=\"width:100%; height:100%; position:relative\">');\n        $(\"#canvas_\"+scope.$id).append('<img id=\"image_' + scope.$id + '\" class=\"card-img-top\" src=\"\" alt=\"Image\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">');\n        $(\"#canvas_\"+scope.$id).append('<div id=\"video_' + scope.$id + '\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>');\n        $(\"#canvas_\"+scope.$id).append('<canvas id=\"objects_' + scope.$id + '\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>');\n\n        $(\"#image_\"+scope.$id).attr('src','http://'+window.location.hostname+'/axis-cgi/jpg/image.cgi?resolution='+width+'x'+height+'&_='+new Date().getTime());\n        if( msg.payload ) {\n            var player = '<media-stream-player hostname=\"'+window.location.hostname+'\"  format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+width+'x'+height+'\" variant=\"basic\" autoplay></media-stream-player>';\n            $(\"#video_\"+scope.$id).append(player);\n        }\n        canvas = document.getElementById(\"objects_\"+scope.$id);\n        ctx = canvas.getContext(\"2d\");\n    }\n\n    if( msg.topic === \"path\" ) {\n        if(!ctx)\n            return;\n        var path = msg.payload;\n        var first = path.path[0];\n        var last = path.path[path.path.length-1];\n        var middle = path.path[path.path.length/2]\n  \n        ctx.beginPath();\n        ctx.lineWidth = 3;\n        ctx.strokeStyle = '#00FF00';\n        ctx.font = \"30px Arial\";\n\n        ctx.beginPath();\n        ctx.moveTo(first.x, first.y );\n        ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n        ctx.stroke();\n\n        ctx.strokeStyle = '#FFFF00';\n        ctx.fillStyle = '#FFFF00';\n        ctx.beginPath();\n        ctx.moveTo(path.path[0].x, path.path[0].y );\n        for( var i = 1; i < path.path.length; i++ )\n            ctx.lineTo(path.path[i].x,path.path[i].y );\n        ctx.lineTo(last.x,last.y );\n        var text = path.class || \"Undefined\";\n        if( path.hasOwnProperty(\"confidence\"))\n            text += \" \" + path.confidence;\n        if( path.hasOwnProperty(\"age\"))\n            text += \" \" + path.age + \"s\";\n        ctx.fillText(text, middle.x, middle.y-10 );\n        ctx.stroke();\n\n        ctx.beginPath();\n        ctx.lineWidth=3;\n        ctx.strokeStyle='#FF0000';\n        ctx.moveTo(last.x, last.y );\n        ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI);\n        ctx.stroke();\n    }\n\n    if( msg.topic === \"tracker\" ) {\n        if(!ctx)\n            return;\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n\n        ctx.lineWidth = 3;\n        ctx.strokeStyle = '#FFFF00';\n        ctx.font = \"30px Arial\";\n        ctx.fillStyle = '#FFFF00';\n\n        trackers[msg.payload.id] = msg.payload;\n        if( msg.payload.active === false )\n            delete trackers[msg.payload.id];\n        ctx.beginPath();\n        for(var id in trackers) {\n            if( trackers[id].hasOwnProperty(\"bx\")) {\n                ctx.moveTo(trackers[id].bx,trackers[id].by);\n                ctx.lineTo(trackers[id].cx,trackers[id].cy);\n            }\n            ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n            var text = trackers[id].class || \"Undefined\";\n            if( trackers[id].hasOwnProperty(\"confidence\"))\n              text += \" \" + trackers[id].confidence;\n            if( trackers[id].hasOwnProperty(\"age\"))\n              text += \" \" + trackers[id].age + \"s\";\n            ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n\n        }\n        ctx.stroke();\n    }\n\n    if( msg.topic === \"detections\" ) {\n        if(!ctx)\n            return;\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n\n        var detections = msg.payload;\n        if( !Array.isArray(detections) )\n            detections = detections.detections;\n         \n        ctx.beginPath();\n        ctx.lineWidth = 3;\n        ctx.font = \"30px Arial\";\n        ctx.fillStyle = '#FFFF00';\n        ctx.strokeStyle = '#FFFF00';\n        detections.forEach( function(detection){\n            if( detection.hasOwnProperty(\"bx\")) {\n                ctx.moveTo(detection.bx,detection.by);\n                ctx.lineTo(detection.cx,detection.cy);\n            }\n            ctx.rect(detection.x, detection.y,detection.w,detection.h );\n            var text = detection.class || \"Undefined\";\n            if( detection.hasOwnProperty(\"confidence\"))\n              text += \" \" + detection.confidence;\n            if( detection.hasOwnProperty(\"age\"))\n              text += \" \" + detection.age + \"s\";\n            ctx.fillText(text, detection.x, detection.y-10 );\n        });\n        ctx.stroke();\n    }  \n    if( msg.topic === \"reset\" ) {\n        if( !ctx )\n            return;\n         ctx.beginPath();\n         ctx.clearRect(0, 0, 1000, 1000 );\n         ctx.stroke();\n    }\n});\n})(scope);\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "b356f862a19b19d9",
        "type": "ui_ui_control",
        "z": "d72747adda9a706a",
        "name": "",
        "events": "all",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "dcb67f78c0eba589"
            ]
        ]
    },
    {
        "id": "dcb67f78c0eba589",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Tab: Objects",
        "func": "msg.topic = \"video\";\nmsg.payload = false;\n\nif( msg.payload !== \"change\" )\n    return msg;\n\nif( msg.name !== \"Objects\")\n    return msg;\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "2708981a0903facb",
                "7498f6b83c61b474",
                "782ce8b6fa22fed0",
                "0c903bc49ac53a07",
                "c70e6c692aebc79e"
            ]
        ]
    },
    {
        "id": "655f02061b610632",
        "type": "ui_dropdown",
        "z": "d72747adda9a706a",
        "name": "Rotation",
        "label": "",
        "tooltip": "",
        "place": "Select rotation",
        "group": "0d7b022bf27a54b7",
        "order": 4,
        "width": "2",
        "height": "1",
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "0째",
                "value": 0,
                "type": "num"
            },
            {
                "label": "90째",
                "value": 90,
                "type": "num"
            },
            {
                "label": "180째",
                "value": 180,
                "type": "num"
            },
            {
                "label": "270째",
                "value": 270,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 840,
        "y": 520,
        "wires": [
            [
                "ee1697c66f6d9152"
            ]
        ]
    },
    {
        "id": "ee1697c66f6d9152",
        "type": "change",
        "z": "d72747adda9a706a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rotation",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "2708981a0903facb"
            ]
        ]
    },
    {
        "id": "a2e5eb038b7820d1",
        "type": "ui_dropdown",
        "z": "d72747adda9a706a",
        "name": "Resolution",
        "label": "",
        "tooltip": "",
        "place": "Select resolution",
        "group": "0d7b022bf27a54b7",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "No video",
                "value": false,
                "type": "bool"
            },
            {
                "label": "2688x1512",
                "value": "2688x1512",
                "type": "str"
            },
            {
                "label": "1920x1080",
                "value": "1920x1080",
                "type": "str"
            },
            {
                "label": "1280x720",
                "value": "1280x720",
                "type": "str"
            },
            {
                "label": "1024x576",
                "value": "1024x579",
                "type": "str"
            },
            {
                "label": "800x450",
                "value": "800x450",
                "type": "str"
            },
            {
                "label": "640x360",
                "value": "640x360",
                "type": "str"
            },
            {
                "label": "480x270",
                "value": "480x270",
                "type": "str"
            },
            {
                "label": "320x180",
                "value": "320x180",
                "type": "str"
            },
            {
                "label": "160x90",
                "value": "160x90",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "c595a2416bdcee60"
            ]
        ]
    },
    {
        "id": "1b620cf86bc9cdde",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Format player",
        "func": "msg.topic = \"video\";\n\nif( msg.payload === false )\n    return msg;\n\nvar resolution = flow.get(\"resolution\") || \"800x450\";\nvar items = resolution.split(\"x\");\nmsg.width = parseInt(items[0]);\nmsg.height = parseInt(items[1]);\nmsg.rotation = flow.get(\"rotation\") || 0;\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "62e79732f6db0cfc"
            ]
        ]
    },
    {
        "id": "c595a2416bdcee60",
        "type": "change",
        "z": "d72747adda9a706a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resolution",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "2708981a0903facb"
            ]
        ]
    },
    {
        "id": "2708981a0903facb",
        "type": "link out",
        "z": "d72747adda9a706a",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "70a5aecbf791261d"
        ],
        "x": 1225,
        "y": 460,
        "wires": []
    },
    {
        "id": "70a5aecbf791261d",
        "type": "link in",
        "z": "d72747adda9a706a",
        "name": "link in 1",
        "links": [
            "2708981a0903facb"
        ],
        "x": 195,
        "y": 160,
        "wires": [
            [
                "1b620cf86bc9cdde"
            ]
        ]
    },
    {
        "id": "fefbe3c1a5b5ca9d",
        "type": "comment",
        "z": "d72747adda9a706a",
        "name": "Video",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "7498f6b83c61b474",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Rotation",
        "func": "msg.payload = flow.get(\"rotation\") || 0;\nflow.set(\"rotation\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [
            [
                "655f02061b610632"
            ]
        ]
    },
    {
        "id": "782ce8b6fa22fed0",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Resolution",
        "func": "msg.payload = flow.get(\"resolution\") || \"800x450\";\nflow.set(\"resolution\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 580,
        "wires": [
            [
                "a2e5eb038b7820d1"
            ]
        ]
    },
    {
        "id": "96bdc85363426616",
        "type": "change",
        "z": "d72747adda9a706a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "confidence",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "0c903bc49ac53a07",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Confidence",
        "func": "msg.payload = flow.get(\"confidence\") || 50;\nflow.set(\"confidence\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 640,
        "wires": [
            [
                "c133349bdb7e28e1"
            ]
        ]
    },
    {
        "id": "c133349bdb7e28e1",
        "type": "ui_numeric",
        "z": "d72747adda9a706a",
        "name": "",
        "label": "Confidence",
        "tooltip": "",
        "group": "0d7b022bf27a54b7",
        "order": 2,
        "width": "4",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "96bdc85363426616"
            ]
        ]
    },
    {
        "id": "43fbe703ed9337c7",
        "type": "ui_dropdown",
        "z": "d72747adda9a706a",
        "name": "Class selection",
        "label": "",
        "tooltip": "",
        "place": "Select detection",
        "group": "0d7b022bf27a54b7",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Motorcycle",
                "value": "Motorcycle",
                "type": "str"
            },
            {
                "label": "Other vehicle type",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "Face",
                "value": "Face",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Unknown type",
                "value": "Object",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 860,
        "y": 700,
        "wires": [
            [
                "bcdf850bf34a291f"
            ]
        ]
    },
    {
        "id": "c70e6c692aebc79e",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Classes",
        "func": "msg.payload = flow.get(\"classes\") || [\"Human\",\"Car\"];\nflow.set(\"classes\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 700,
        "wires": [
            [
                "43fbe703ed9337c7"
            ]
        ]
    },
    {
        "id": "19ce1eccefd78e7c",
        "type": "ui_button",
        "z": "d72747adda9a706a",
        "name": "",
        "group": "0d7b022bf27a54b7",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Play",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "json",
        "topic": "video",
        "topicType": "str",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "62e79732f6db0cfc"
            ]
        ]
    },
    {
        "id": "3cbfd78351d7012b",
        "type": "function",
        "z": "d72747adda9a706a",
        "name": "Filter",
        "func": "var classFilter = flow.get(\"classes\") || [\"Human\",\"Car\",\"Truck\",\"Bus\",\"Motorcycle\",\"Vehicle\",\"Face\",\"License plate\",\"Object\"];\n\n//Filter unwanted class types\nvar ignoreClass = true;\nclassFilter.forEach(function(element) {\n    if( element === msg.payload.class)\n        ignoreClass = false;\n});\nif(ignoreClass)\n    return;\n\n//Filter confidence\nvar confidence = flow.get(\"confidence\") || 0;\nif( msg.payload.confidence < confidence )\n    return;\n\n//Object passed all filters\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "62e79732f6db0cfc",
                "bd69ce8416e2660a"
            ]
        ]
    },
    {
        "id": "bcdf850bf34a291f",
        "type": "change",
        "z": "d72747adda9a706a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "bd69ce8416e2660a",
        "type": "debug",
        "z": "d72747adda9a706a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "0d7b022bf27a54b7",
        "type": "ui_group",
        "name": "Video",
        "tab": "b0934bc6da5a1654",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b0934bc6da5a1654",
        "type": "ui_tab",
        "name": "Objects",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]