examples/Object Detections.json
[
    {
        "id": "0a89d0d74136ced3",
        "type": "tab",
        "label": "Object Detections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83da97b10bf1e5f4",
        "type": "group",
        "z": "0a89d0d74136ced3",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cb23453a5e12259f",
            "a8971b23c93d8aee",
            "adeb4057cf10a72f",
            "118583acbdd5ca24",
            "dd499db5fd268d4a",
            "ece8d9dedf6561a7",
            "783cad4bb20aedfb",
            "06f7093fc484ad5c",
            "f7ce4b0b2f5c55f7",
            "29c934a0fa89ee97",
            "013e4dde2d110584",
            "c25f92b120c07a92",
            "6bd122c48bb54d57",
            "78e9799aafa843c4",
            "073e64c8d7ac2751",
            "3dc9cc57350a9cd8",
            "a799c75eb6f16b33",
            "7fd77b1366ad158b",
            "bc97fa5813c08edb",
            "61ebc7a89c3faf96",
            "de428fb389c88793",
            "1c49819326737206",
            "a82ff62ca8c0e9ef",
            "14113a378184f62a"
        ],
        "x": 274,
        "y": 979,
        "w": 1012,
        "h": 422
    },
    {
        "id": "0836001e0ed9ef2d",
        "type": "group",
        "z": "0a89d0d74136ced3",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "51beda30390d51b9",
            "8cd7fba6b2681b97",
            "889adcb59b46b494",
            "c6f1a860938129a5",
            "d2615f64bc99e92d"
        ],
        "x": 274,
        "y": 139,
        "w": 952,
        "h": 162
    },
    {
        "id": "571dea40ec98a709",
        "type": "group",
        "z": "0a89d0d74136ced3",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "cbefc3af5fa0a578",
            "20d1dba22a0a73c0",
            "ed154d4a94943396",
            "c094834c037ddc52",
            "2b0dac76155de7a4",
            "298a0ff6736e9b92"
        ],
        "x": 274,
        "y": 359,
        "w": 732,
        "h": 262
    },
    {
        "id": "617351a0bddccdbd",
        "type": "group",
        "z": "0a89d0d74136ced3",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "c260c2b5ac38f314",
            "2727882bddfa07a6",
            "9ce1c98565d107d2",
            "704108ed9fd672ee",
            "4dae2833527a1579",
            "0cc29e5804145436",
            "0aa237d24afb7a9c",
            "3d5de463c15bc60f",
            "448f551b57947f68",
            "ebd3d68ad5dd83a2"
        ],
        "x": 274,
        "y": 679,
        "w": 1052,
        "h": 202
    },
    {
        "id": "24ae11c441481abc",
        "type": "group",
        "z": "0a89d0d74136ced3",
        "name": "Exceptions",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "25d329200dc9e3c6",
            "04d017d8d6fabfa5",
            "3410b77701b09ad0",
            "db01df28cd414ffd"
        ],
        "x": 274,
        "y": 1459,
        "w": 642,
        "h": 142
    },
    {
        "id": "6bd122c48bb54d57",
        "type": "junction",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "x": 1260,
        "y": 1020,
        "wires": [
            [
                "e2516bfd948420de"
            ]
        ]
    },
    {
        "id": "a799c75eb6f16b33",
        "type": "junction",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "x": 1020,
        "y": 1320,
        "wires": [
            [
                "f18cbb8ba1e01f00"
            ]
        ]
    },
    {
        "id": "452cf95a5d5bebd5",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "detections",
        "mode": "link",
        "links": [
            "ec62c3ca1fc2c21c"
        ],
        "x": 1415,
        "y": 180,
        "wires": []
    },
    {
        "id": "ec62c3ca1fc2c21c",
        "type": "link in",
        "z": "0a89d0d74136ced3",
        "name": "Visualize",
        "links": [
            "f18cbb8ba1e01f00",
            "452cf95a5d5bebd5",
            "ef266590d130a22e",
            "89fdf8a12a15475d"
        ],
        "x": 105,
        "y": 480,
        "wires": [
            [
                "2b0dac76155de7a4"
            ]
        ]
    },
    {
        "id": "656e4e70035359fc",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Version 1.5 [README]   ",
        "info": "This node provides Object Detection Analytics Data.\nCommon use cases are:\n* Presence transitions\n* Queue management\n\nThe Dashboard nodes provides a way for installers and administrators to filter out unwanted detections.\n\nTo use in a custom service, creat a new tab and link to one or more\n* detections\n* counter\n* state\n* exceptions\n\n\nNOTE: This flow requires the \"Device Info\" flow\" from examples or\nhttps://github.com/pandosme/CamFlows/blob/master/flows/Device%20Info.json\nThis flow stores information about the camera in global context.",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "f34220426e563f91",
        "type": "inject",
        "z": "0a89d0d74136ced3",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "c260c2b5ac38f314"
            ]
        ]
    },
    {
        "id": "cd129cbe8a0c2299",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "detections",
        "info": "",
        "x": 1320,
        "y": 180,
        "wires": []
    },
    {
        "id": "5c34711862fe1b51",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "467cbf0ad52ad104"
        ],
        "x": 1495,
        "y": 720,
        "wires": []
    },
    {
        "id": "afe7c2e6ecb7526d",
        "type": "link in",
        "z": "0a89d0d74136ced3",
        "name": "Update Settings",
        "links": [
            "8074869d6932c396",
            "e2516bfd948420de"
        ],
        "x": 105,
        "y": 840,
        "wires": [
            [
                "0aa237d24afb7a9c"
            ]
        ]
    },
    {
        "id": "bf2b092a30e9c182",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Init",
        "info": "",
        "x": 1390,
        "y": 720,
        "wires": []
    },
    {
        "id": "8074869d6932c396",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "afe7c2e6ecb7526d",
            "7629d04ef4c084e4"
        ],
        "x": 1185,
        "y": 480,
        "wires": []
    },
    {
        "id": "dfc26f25cd05718a",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Update",
        "info": "",
        "x": 190,
        "y": 840,
        "wires": []
    },
    {
        "id": "467cbf0ad52ad104",
        "type": "link in",
        "z": "0a89d0d74136ced3",
        "name": "link in 33",
        "links": [
            "5c34711862fe1b51",
            "de8a5e5e2cb27a9b"
        ],
        "x": 105,
        "y": 1020,
        "wires": [
            [
                "06f7093fc484ad5c"
            ]
        ]
    },
    {
        "id": "e2516bfd948420de",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "afe7c2e6ecb7526d",
            "7629d04ef4c084e4"
        ],
        "x": 1455,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d3041ad45084a643",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Init",
        "info": "",
        "x": 190,
        "y": 1020,
        "wires": []
    },
    {
        "id": "47067daf5469f013",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Updated",
        "info": "",
        "x": 1360,
        "y": 1020,
        "wires": []
    },
    {
        "id": "511a59af70171edc",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Visualize",
        "info": "",
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "f18cbb8ba1e01f00",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "aoi",
        "mode": "link",
        "links": [
            "ec62c3ca1fc2c21c"
        ],
        "x": 1455,
        "y": 1320,
        "wires": []
    },
    {
        "id": "c1e2c96c926b0e26",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Updated",
        "info": "",
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "916f73b13a5be922",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Visualize",
        "info": "",
        "x": 1360,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7e8235d30e289042",
        "type": "link in",
        "z": "0a89d0d74136ced3",
        "name": "link in 34",
        "links": [
            "7ca5913a2ca0b420"
        ],
        "x": 105,
        "y": 720,
        "wires": [
            [
                "c260c2b5ac38f314"
            ]
        ]
    },
    {
        "id": "7ca5913a2ca0b420",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "Start",
        "mode": "link",
        "links": [
            "7e8235d30e289042",
            "8b80d877c2d860b0"
        ],
        "x": 1175,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ae72aa89a818c01",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Start",
        "info": "",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "da85f18864e86fec",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Start",
        "info": "",
        "x": 190,
        "y": 720,
        "wires": []
    },
    {
        "id": "cb23453a5e12259f",
        "type": "ui_numeric",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "adeb4057cf10a72f"
            ]
        ]
    },
    {
        "id": "a8971b23c93d8aee",
        "type": "ui_numeric",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "118583acbdd5ca24"
            ]
        ]
    },
    {
        "id": "adeb4057cf10a72f",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1100,
        "wires": [
            [
                "6bd122c48bb54d57"
            ]
        ]
    },
    {
        "id": "118583acbdd5ca24",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "6bd122c48bb54d57"
            ]
        ]
    },
    {
        "id": "dd499db5fd268d4a",
        "type": "ui_dropdown",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "fb7dc356b5701bac",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "License plate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Animal",
                "value": "Animal",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 800,
        "y": 1060,
        "wires": [
            [
                "ece8d9dedf6561a7"
            ]
        ]
    },
    {
        "id": "ece8d9dedf6561a7",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1060,
        "wires": [
            [
                "6bd122c48bb54d57"
            ]
        ]
    },
    {
        "id": "783cad4bb20aedfb",
        "type": "ui_dropdown",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "fb7dc356b5701bac",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 810,
        "y": 1020,
        "wires": [
            [
                "7fd77b1366ad158b"
            ]
        ]
    },
    {
        "id": "06f7093fc484ad5c",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "f7ce4b0b2f5c55f7",
                "29c934a0fa89ee97",
                "013e4dde2d110584",
                "c25f92b120c07a92",
                "bc97fa5813c08edb",
                "1c49819326737206"
            ]
        ]
    },
    {
        "id": "f7ce4b0b2f5c55f7",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 1020,
        "wires": [
            [
                "783cad4bb20aedfb"
            ]
        ]
    },
    {
        "id": "29c934a0fa89ee97",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1060,
        "wires": [
            [
                "dd499db5fd268d4a"
            ]
        ]
    },
    {
        "id": "013e4dde2d110584",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 1100,
        "wires": [
            [
                "cb23453a5e12259f"
            ]
        ]
    },
    {
        "id": "c25f92b120c07a92",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1140,
        "wires": [
            [
                "a8971b23c93d8aee"
            ]
        ]
    },
    {
        "id": "78e9799aafa843c4",
        "type": "ui_button",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "group": "fb7dc356b5701bac",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Area of Intrest",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 1320,
        "wires": [
            [
                "073e64c8d7ac2751"
            ]
        ]
    },
    {
        "id": "073e64c8d7ac2751",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1320,
        "wires": [
            [
                "a799c75eb6f16b33"
            ]
        ]
    },
    {
        "id": "3dc9cc57350a9cd8",
        "type": "ui_button",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "group": "fb7dc356b5701bac",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 690,
        "y": 1360,
        "wires": [
            [
                "a799c75eb6f16b33"
            ]
        ]
    },
    {
        "id": "7fd77b1366ad158b",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1020,
        "wires": [
            [
                "6bd122c48bb54d57"
            ]
        ]
    },
    {
        "id": "51beda30390d51b9",
        "type": "Objects",
        "z": "0a89d0d74136ced3",
        "g": "0836001e0ed9ef2d",
        "version": "2",
        "output": "1",
        "classFilter": "-1",
        "confidence": "20",
        "rotation": "0",
        "cog": "0",
        "predictions": "0",
        "attributes": "50",
        "idle": "30",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "8cd7fba6b2681b97"
            ]
        ]
    },
    {
        "id": "8cd7fba6b2681b97",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "0836001e0ed9ef2d",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var classMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            classMatch = true;\n        if( item.class === \"Face\" && element === \"Head\")\n            classMatch = true;\n    });\n    if (!classMatch)\n        return;\n    if( settings.aoi ) {\n        if( item.cx < settings.aoi.x1 )\n            return;\n        if (item.cx > settings.aoi.x2)\n            return;\n        if (item.cy < settings.aoi.y1)\n            return;\n        if (item.cy > settings.aoi.y2)\n            return;\n    }            \n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "452cf95a5d5bebd5",
                "889adcb59b46b494",
                "c6f1a860938129a5"
            ]
        ]
    },
    {
        "id": "cbefc3af5fa0a578",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "571dea40ec98a709",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "8074869d6932c396"
            ]
        ]
    },
    {
        "id": "20d1dba22a0a73c0",
        "type": "ui_button",
        "z": "0a89d0d74136ced3",
        "g": "571dea40ec98a709",
        "name": "",
        "group": "5f090a4ecb012945",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "7ca5913a2ca0b420",
                "298a0ff6736e9b92"
            ]
        ]
    },
    {
        "id": "c260c2b5ac38f314",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "Default settings",
        "func": "msg.payload = {\n    service: \"ObjectDetections\",\n    aoi: {\n        id: \"aoi\",\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n    age: 2,\n    distance: 10,\n    confidence: 30,\n    classes: [\"Human\", \"Car\"],\n    timeout: 5,\n    threshold: 1\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "2727882bddfa07a6"
            ]
        ]
    },
    {
        "id": "2727882bddfa07a6",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 720,
        "wires": [
            [
                "9ce1c98565d107d2"
            ]
        ]
    },
    {
        "id": "9ce1c98565d107d2",
        "type": "file in",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "704108ed9fd672ee"
            ]
        ]
    },
    {
        "id": "704108ed9fd672ee",
        "type": "json",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1070,
        "y": 720,
        "wires": [
            [
                "4dae2833527a1579"
            ]
        ]
    },
    {
        "id": "4dae2833527a1579",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 720,
        "wires": [
            [
                "5c34711862fe1b51"
            ]
        ]
    },
    {
        "id": "0cc29e5804145436",
        "type": "catch",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "",
        "scope": [
            "9ce1c98565d107d2"
        ],
        "uncaught": false,
        "x": 350,
        "y": 800,
        "wires": [
            [
                "0aa237d24afb7a9c"
            ]
        ]
    },
    {
        "id": "0aa237d24afb7a9c",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "ebd3d68ad5dd83a2"
            ]
        ]
    },
    {
        "id": "3d5de463c15bc60f",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 840,
        "wires": [
            [
                "448f551b57947f68"
            ]
        ]
    },
    {
        "id": "448f551b57947f68",
        "type": "file",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1090,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "889adcb59b46b494",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "0836001e0ed9ef2d",
        "name": "Presence counter",
        "func": "if( msg.changes === null )\n    return;\n\nvar device = global.get(\"device\");\nif(!device) {\n    node.error(\"Missing global.device. Check Readme\",msg);\n    return;\n}\nvar settings = flow.get(\"settings\");\nif(!settings) {\n    node.error(\"Missing global.device.camera. Check Readme\",msg);\n    return;\n}\n\nvar counter = flow.get(\"detectionsCounter\") || 0;\nif( msg.payload.length === counter )\n    return;\ncounter = msg.payload.length;\nflow.set(\"detectionsCounter\",counter);\nmsg.topic = \"presence/counter/\" + device.serial;\nmsg.payload = counter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 220,
        "wires": [
            [
                "1a76e8f0e020ee80"
            ]
        ]
    },
    {
        "id": "c6f1a860938129a5",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "0836001e0ed9ef2d",
        "name": "Presence state",
        "func": "var threshold = flow.get(\"settings\").threshold || 1;\n\nif (msg.payload.length < threshold)\n    return;\n\nmsg.delay = flow.get(\"settings\").timeout * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 260,
        "wires": [
            [
                "d2615f64bc99e92d"
            ]
        ]
    },
    {
        "id": "d2615f64bc99e92d",
        "type": "trigger",
        "z": "0a89d0d74136ced3",
        "g": "0836001e0ed9ef2d",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "e763115a275e556e"
            ]
        ]
    },
    {
        "id": "1a76e8f0e020ee80",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "counter",
        "mode": "link",
        "links": [
            "26baaa628bb804e1"
        ],
        "x": 1415,
        "y": 220,
        "wires": []
    },
    {
        "id": "ceebabc4e3c35f97",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "counter",
        "info": "",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc97fa5813c08edb",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1180,
        "wires": [
            [
                "61ebc7a89c3faf96"
            ]
        ]
    },
    {
        "id": "61ebc7a89c3faf96",
        "type": "ui_numeric",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "label": "Presence transition",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 830,
        "y": 1180,
        "wires": [
            [
                "de428fb389c88793"
            ]
        ]
    },
    {
        "id": "de428fb389c88793",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.timeout",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1180,
        "wires": [
            [
                "6bd122c48bb54d57"
            ]
        ]
    },
    {
        "id": "ed154d4a94943396",
        "type": "ui_text",
        "z": "0a89d0d74136ced3",
        "g": "571dea40ec98a709",
        "group": "5f090a4ecb012945",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 540,
        "wires": []
    },
    {
        "id": "26baaa628bb804e1",
        "type": "link in",
        "z": "0a89d0d74136ced3",
        "name": "link in 36",
        "links": [
            "1a76e8f0e020ee80",
            "3ecb626b56361038"
        ],
        "x": 105,
        "y": 540,
        "wires": [
            [
                "ed154d4a94943396"
            ]
        ]
    },
    {
        "id": "f1c113e461f5ec86",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "Counter",
        "info": "",
        "x": 210,
        "y": 540,
        "wires": []
    },
    {
        "id": "63506fab7f460800",
        "type": "link in",
        "z": "0a89d0d74136ced3",
        "name": "link in 37",
        "links": [
            "e763115a275e556e"
        ],
        "x": 105,
        "y": 580,
        "wires": [
            [
                "c094834c037ddc52"
            ]
        ]
    },
    {
        "id": "79b5057a86b8ace5",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "State",
        "info": "",
        "x": 210,
        "y": 580,
        "wires": []
    },
    {
        "id": "c094834c037ddc52",
        "type": "ui_text",
        "z": "0a89d0d74136ced3",
        "g": "571dea40ec98a709",
        "group": "5f090a4ecb012945",
        "order": 4,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Presence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "e763115a275e556e",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "state",
        "mode": "link",
        "links": [
            "63506fab7f460800",
            "8c93538ef61c66b4",
            "4ec48c6f57b6de7b"
        ],
        "x": 1415,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b9452df6fa59c2a",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "state",
        "info": "",
        "x": 1310,
        "y": 260,
        "wires": []
    },
    {
        "id": "25d329200dc9e3c6",
        "type": "catch",
        "z": "0a89d0d74136ced3",
        "g": "24ae11c441481abc",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "04d017d8d6fabfa5",
                "3410b77701b09ad0"
            ]
        ]
    },
    {
        "id": "04d017d8d6fabfa5",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "24ae11c441481abc",
        "name": "Message",
        "func": "msg.topic = \"ObjectDetections\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1500,
        "wires": [
            [
                "db01df28cd414ffd",
                "47370be698a8ad11"
            ]
        ]
    },
    {
        "id": "3410b77701b09ad0",
        "type": "debug",
        "z": "0a89d0d74136ced3",
        "g": "24ae11c441481abc",
        "name": "debug 198",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1560,
        "wires": []
    },
    {
        "id": "db01df28cd414ffd",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "24ae11c441481abc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 1560,
        "wires": [
            [
                "e56f9d2a01e08b5e"
            ]
        ]
    },
    {
        "id": "e56f9d2a01e08b5e",
        "type": "ui_toast",
        "z": "0a89d0d74136ced3",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1040,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "f2771661582ebff9",
        "type": "comment",
        "z": "0a89d0d74136ced3",
        "name": "exceptions",
        "info": "",
        "x": 1010,
        "y": 1500,
        "wires": []
    },
    {
        "id": "47370be698a8ad11",
        "type": "link out",
        "z": "0a89d0d74136ced3",
        "name": "exceptions",
        "mode": "link",
        "links": [
            "62d75f5c16e43097"
        ],
        "x": 1105,
        "y": 1500,
        "wires": []
    },
    {
        "id": "1c49819326737206",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "threshold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.threshold",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1220,
        "wires": [
            [
                "a82ff62ca8c0e9ef"
            ]
        ]
    },
    {
        "id": "a82ff62ca8c0e9ef",
        "type": "ui_numeric",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "label": "Presence threshold",
        "tooltip": "",
        "group": "fb7dc356b5701bac",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} objects",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 830,
        "y": 1220,
        "wires": [
            [
                "14113a378184f62a"
            ]
        ]
    },
    {
        "id": "14113a378184f62a",
        "type": "change",
        "z": "0a89d0d74136ced3",
        "g": "83da97b10bf1e5f4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 1220,
        "wires": [
            [
                "6bd122c48bb54d57"
            ]
        ]
    },
    {
        "id": "298a0ff6736e9b92",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "571dea40ec98a709",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "2b0dac76155de7a4"
            ]
        ]
    },
    {
        "id": "2b0dac76155de7a4",
        "type": "ui_template",
        "z": "0a89d0d74136ced3",
        "g": "571dea40ec98a709",
        "group": "5f090a4ecb012945",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "cbefc3af5fa0a578"
            ]
        ]
    },
    {
        "id": "ebd3d68ad5dd83a2",
        "type": "function",
        "z": "0a89d0d74136ced3",
        "g": "617351a0bddccdbd",
        "name": "Validate",
        "func": "if(!msg.payload.hasOwnProperty(\"classes\"))\n    msg.payload.classes = [\"Human\", \"Car\"];\nif(!msg.payload.hasOwnProperty(\"age\"))\n    msg.payload.age = 1;\nif(!msg.payload.hasOwnProperty(\"distance\"))\n    msg.payload.distance = 20;\nif(!msg.payload.hasOwnProperty(\"confidence\"))\n    msg.payload.confidence = 30;\nif(!msg.payload.hasOwnProperty(\"aoi\"))\n    msg.payload.aoi = {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    };\n\nflow.set(\"settings\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 840,
        "wires": [
            [
                "3d5de463c15bc60f"
            ]
        ]
    },
    {
        "id": "fb7dc356b5701bac",
        "type": "ui_group",
        "name": "Settings",
        "tab": "19d99d34686b3d45",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f090a4ecb012945",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "19d99d34686b3d45",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "19d99d34686b3d45",
        "type": "ui_tab",
        "name": "Object detections",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]