examples/Object Detections.json
[
    {
        "id": "f67521d457724262",
        "type": "tab",
        "label": "Object Detections",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1ac81ee616331a4e",
        "type": "group",
        "z": "f67521d457724262",
        "name": "Settings",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "debf6684328bbcb2",
            "ebf9cf11d66dde47",
            "6134fc765d8faefa",
            "5aa9d951b74ae41e",
            "e374df7783e5edd1",
            "b3079487b9c9349c",
            "34495fd49b5afe86",
            "86dde67b7ba945f2",
            "39eda36f8eda6fef",
            "c42f0d614f51cddd",
            "2e23c2c6eddae56b",
            "42f926b05dea16b7",
            "c7d77c485927e618",
            "0a406ec926c34a2f",
            "02b571804aa3d396",
            "ee1ee514d95a40c3",
            "aa787a807ce254d8",
            "40c381b320787d74",
            "d9a0d8ebfe6e0237",
            "7f939005643608c7",
            "b7cd36fe5703d581",
            "1defc0297c0f00f7",
            "71d8ed478e3e2b32",
            "04bccb1a38fdac48"
        ],
        "x": 234,
        "y": 1039,
        "w": 1012,
        "h": 422
    },
    {
        "id": "99759339821f6508",
        "type": "group",
        "z": "f67521d457724262",
        "name": "Output",
        "style": {
            "stroke": "#000000",
            "fill": "#e3f3d3",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "bec8647d88921f25",
            "9cbe0cb1b895367a",
            "e9579da75a37cd4b",
            "39becc07e38649cb",
            "e1622d526e26ede8"
        ],
        "x": 234,
        "y": 299,
        "w": 872,
        "h": 162
    },
    {
        "id": "eb30500137287e24",
        "type": "group",
        "z": "f67521d457724262",
        "name": "Dashboard",
        "style": {
            "stroke": "#000000",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5f05b2ce65ad1a83",
            "a25189eb680e0803",
            "bd65716f76040c35",
            "62acea4adbe6db15",
            "4edc1db65ca1bbed",
            "5327b092e272c5c9"
        ],
        "x": 234,
        "y": 499,
        "w": 722,
        "h": 262
    },
    {
        "id": "649f4fc977f466e7",
        "type": "group",
        "z": "f67521d457724262",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "2668e2872cf088a2",
            "28af9c583f4484f0",
            "a7388fe793ea8459",
            "1e4c22d57c31ad60",
            "f5c0e53fcdba9053",
            "3df4330a51d54448",
            "9c9741277438d3da",
            "eda370fa0827a4a9",
            "dec5922bd7e17bdd",
            "cc81fd741d8c8c4d"
        ],
        "x": 234,
        "y": 799,
        "w": 1052,
        "h": 202
    },
    {
        "id": "2721d202963570ca",
        "type": "group",
        "z": "f67521d457724262",
        "name": "Exceptions",
        "style": {
            "stroke": "#000000",
            "fill": "#ffbfbf",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3fd8c326c526acad",
            "227741d6506171d0",
            "e4c1198ac7d89260",
            "b443cda444f2a33b"
        ],
        "x": 234,
        "y": 1499,
        "w": 642,
        "h": 142
    },
    {
        "id": "5f57c53e4653f7e1",
        "type": "group",
        "z": "f67521d457724262",
        "name": "Initialization",
        "style": {
            "stroke": "#000000",
            "fill": "#ffffbf",
            "label": true,
            "color": "#001f60"
        },
        "nodes": [
            "aef3be62a7281de0",
            "340b380b86944e49",
            "3eadea8c87bfb58e",
            "a12f86bcc3e45ed1",
            "b5757061bb832b61",
            "dc4e19d18007d323",
            "5ed09437cf14a198",
            "4cb7cfc187b3956b",
            "b3343290c93ea995",
            "e2f85e8a2ef02ffc"
        ],
        "x": 224,
        "y": 39,
        "w": 882,
        "h": 222
    },
    {
        "id": "c7d77c485927e618",
        "type": "junction",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "x": 1220,
        "y": 1080,
        "wires": [
            [
                "99c2fa7eb9e71f34"
            ]
        ]
    },
    {
        "id": "aa787a807ce254d8",
        "type": "junction",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "x": 980,
        "y": 1380,
        "wires": [
            [
                "05c40788ad699130"
            ]
        ]
    },
    {
        "id": "a2f1b392b5503eea",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "detections",
        "mode": "link",
        "links": [
            "6c1f480e87e48de7"
        ],
        "x": 1335,
        "y": 340,
        "wires": []
    },
    {
        "id": "6c1f480e87e48de7",
        "type": "link in",
        "z": "f67521d457724262",
        "name": "Visualize",
        "links": [
            "05c40788ad699130",
            "a2f1b392b5503eea"
        ],
        "x": 55,
        "y": 620,
        "wires": [
            [
                "4edc1db65ca1bbed"
            ]
        ]
    },
    {
        "id": "53d46719e97f0c00",
        "type": "inject",
        "z": "f67521d457724262",
        "name": "On start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "2668e2872cf088a2"
            ]
        ]
    },
    {
        "id": "574117ed9e7362ad",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "detections",
        "info": "",
        "x": 1240,
        "y": 340,
        "wires": []
    },
    {
        "id": "cf1ce27b735043ae",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "Initialized",
        "mode": "link",
        "links": [
            "0bbc842ca197e060"
        ],
        "x": 1455,
        "y": 840,
        "wires": []
    },
    {
        "id": "5a47d3b26261d4dc",
        "type": "link in",
        "z": "f67521d457724262",
        "name": "Update Settings",
        "links": [
            "9ee08d73e9152c22",
            "99c2fa7eb9e71f34"
        ],
        "x": 65,
        "y": 960,
        "wires": [
            [
                "9c9741277438d3da"
            ]
        ]
    },
    {
        "id": "2cc3f2cea7c6032f",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Init",
        "info": "",
        "x": 1350,
        "y": 840,
        "wires": []
    },
    {
        "id": "9ee08d73e9152c22",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "link out 24",
        "mode": "link",
        "links": [
            "5a47d3b26261d4dc"
        ],
        "x": 1135,
        "y": 620,
        "wires": []
    },
    {
        "id": "e4ee30c63e1db582",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Update",
        "info": "",
        "x": 150,
        "y": 960,
        "wires": []
    },
    {
        "id": "0bbc842ca197e060",
        "type": "link in",
        "z": "f67521d457724262",
        "name": "link in 33",
        "links": [
            "cf1ce27b735043ae"
        ],
        "x": 65,
        "y": 1080,
        "wires": [
            [
                "86dde67b7ba945f2"
            ]
        ]
    },
    {
        "id": "99c2fa7eb9e71f34",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "Settings updated",
        "mode": "link",
        "links": [
            "5a47d3b26261d4dc"
        ],
        "x": 1415,
        "y": 1080,
        "wires": []
    },
    {
        "id": "daf65fbc1751b996",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Init",
        "info": "",
        "x": 150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5186ed85bf7ce8d3",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Updated",
        "info": "",
        "x": 1320,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b4bf7663fa1cba72",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Visualize",
        "info": "",
        "x": 160,
        "y": 620,
        "wires": []
    },
    {
        "id": "05c40788ad699130",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "aoi",
        "mode": "link",
        "links": [
            "6c1f480e87e48de7"
        ],
        "x": 1415,
        "y": 1380,
        "wires": []
    },
    {
        "id": "011cc9e6d08947fd",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Updated",
        "info": "",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "659e493b0006c4d2",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Visualize",
        "info": "",
        "x": 1320,
        "y": 1380,
        "wires": []
    },
    {
        "id": "56127a2ec31f7b5c",
        "type": "link in",
        "z": "f67521d457724262",
        "name": "link in 34",
        "links": [
            "640d1cb01727ebca"
        ],
        "x": 65,
        "y": 840,
        "wires": [
            [
                "2668e2872cf088a2"
            ]
        ]
    },
    {
        "id": "640d1cb01727ebca",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "Start",
        "mode": "link",
        "links": [
            "56127a2ec31f7b5c"
        ],
        "x": 1125,
        "y": 540,
        "wires": []
    },
    {
        "id": "093648b8fdf9f8bd",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Start",
        "info": "",
        "x": 1040,
        "y": 540,
        "wires": []
    },
    {
        "id": "7bc6771ff7fa6551",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Start",
        "info": "",
        "x": 150,
        "y": 840,
        "wires": []
    },
    {
        "id": "debf6684328bbcb2",
        "type": "ui_numeric",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "label": "Age",
        "tooltip": "",
        "group": "69a2347cc873f053",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": 10,
        "step": "0.5",
        "className": "",
        "x": 750,
        "y": 1160,
        "wires": [
            [
                "6134fc765d8faefa"
            ]
        ]
    },
    {
        "id": "ebf9cf11d66dde47",
        "type": "ui_numeric",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "69a2347cc873f053",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 760,
        "y": 1200,
        "wires": [
            [
                "5aa9d951b74ae41e"
            ]
        ]
    },
    {
        "id": "6134fc765d8faefa",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 1160,
        "wires": [
            [
                "c7d77c485927e618"
            ]
        ]
    },
    {
        "id": "5aa9d951b74ae41e",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.distance",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1200,
        "wires": [
            [
                "c7d77c485927e618"
            ]
        ]
    },
    {
        "id": "e374df7783e5edd1",
        "type": "ui_dropdown",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "Classes",
        "label": "Classes",
        "tooltip": "",
        "place": "Select detection",
        "group": "69a2347cc873f053",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [
            {
                "label": "Human",
                "value": "Human",
                "type": "str"
            },
            {
                "label": "Head",
                "value": "Head",
                "type": "str"
            },
            {
                "label": "Bag",
                "value": "Bag",
                "type": "str"
            },
            {
                "label": "Car",
                "value": "Car",
                "type": "str"
            },
            {
                "label": "Truck",
                "value": "Truck",
                "type": "str"
            },
            {
                "label": "Bus",
                "value": "Bus",
                "type": "str"
            },
            {
                "label": "Bike",
                "value": "Bike",
                "type": "str"
            },
            {
                "label": "Vehicle",
                "value": "Vehicle",
                "type": "str"
            },
            {
                "label": "LicensePlate",
                "value": "License plate",
                "type": "str"
            },
            {
                "label": "Animal",
                "value": "Animal",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 760,
        "y": 1120,
        "wires": [
            [
                "b3079487b9c9349c"
            ]
        ]
    },
    {
        "id": "b3079487b9c9349c",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.classes",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "c7d77c485927e618"
            ]
        ]
    },
    {
        "id": "34495fd49b5afe86",
        "type": "ui_dropdown",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "Confidence",
        "label": "Min confidence",
        "tooltip": "",
        "place": "Select detection",
        "group": "69a2347cc873f053",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "20",
                "value": 20,
                "type": "num"
            },
            {
                "label": "30",
                "value": 30,
                "type": "num"
            },
            {
                "label": "40",
                "value": 40,
                "type": "num"
            },
            {
                "label": "50",
                "value": 50,
                "type": "num"
            },
            {
                "label": "60",
                "value": 60,
                "type": "num"
            },
            {
                "label": "70",
                "value": 70,
                "type": "num"
            },
            {
                "label": "80",
                "value": 80,
                "type": "num"
            },
            {
                "label": "90",
                "value": 90,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "40c381b320787d74"
            ]
        ]
    },
    {
        "id": "86dde67b7ba945f2",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "39eda36f8eda6fef",
                "c42f0d614f51cddd",
                "2e23c2c6eddae56b",
                "42f926b05dea16b7",
                "d9a0d8ebfe6e0237",
                "1defc0297c0f00f7"
            ]
        ]
    },
    {
        "id": "39eda36f8eda6fef",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "confidence",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1080,
        "wires": [
            [
                "34495fd49b5afe86"
            ]
        ]
    },
    {
        "id": "c42f0d614f51cddd",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "classes",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.classes",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "e374df7783e5edd1"
            ]
        ]
    },
    {
        "id": "2e23c2c6eddae56b",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "age",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.age",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "debf6684328bbcb2"
            ]
        ]
    },
    {
        "id": "42f926b05dea16b7",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "distance",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.distance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1200,
        "wires": [
            [
                "ebf9cf11d66dde47"
            ]
        ]
    },
    {
        "id": "0a406ec926c34a2f",
        "type": "ui_button",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "group": "69a2347cc873f053",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Area of Intrest",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 340,
        "y": 1380,
        "wires": [
            [
                "02b571804aa3d396"
            ]
        ]
    },
    {
        "id": "02b571804aa3d396",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings.aoi",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "aoi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 1380,
        "wires": [
            [
                "aa787a807ce254d8"
            ]
        ]
    },
    {
        "id": "ee1ee514d95a40c3",
        "type": "ui_button",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "group": "69a2347cc873f053",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "save",
        "topicType": "str",
        "x": 650,
        "y": 1420,
        "wires": [
            [
                "aa787a807ce254d8"
            ]
        ]
    },
    {
        "id": "40c381b320787d74",
        "type": "function",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "set flow.settings.confidence",
        "func": "var settings = flow.get(\"settings\");\nsettings.confidence = parseInt(msg.payload);\nflow.set(\"settings\", settings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "c7d77c485927e618"
            ]
        ]
    },
    {
        "id": "bec8647d88921f25",
        "type": "Objects",
        "z": "f67521d457724262",
        "g": "99759339821f6508",
        "version": "1",
        "output": "1",
        "confidence": "20",
        "rotation": "0",
        "cog": "0",
        "idle": "9999999",
        "x": 320,
        "y": 340,
        "wires": [
            [
                "9cbe0cb1b895367a"
            ]
        ]
    },
    {
        "id": "9cbe0cb1b895367a",
        "type": "function",
        "z": "f67521d457724262",
        "g": "99759339821f6508",
        "name": "Detections filter",
        "func": "\nvar settings = flow.get(\"settings\");\nif(!settings)\n    return;\n\nvar list = [];\n\nmsg.payload.forEach( function(item){\n    if (item.confidence < settings.confidence)\n        return;\n    if( item.age < settings.age)\n        return;\n    var dx = (item.cx - item.bx);\n    dx = dx * dx;\n    var dy = (item.cy - item.by);\n    dy = dy * dy;\n    item.distance = parseInt(Math.sqrt(dx+dy)/10);\n    if( item.distance < settings.distance )\n        return;\n\n    var classMatch = false;\n    settings.classes.forEach(function (element) {\n        if (element === item.class)\n            classMatch = true;\n        if( item.class === \"Face\" && element === \"Head\")\n            classMatch = true;\n    });\n    if (!classMatch)\n        return;\n    if( settings.aoi ) {\n        if( item.cx < settings.aoi.x1 )\n            return;\n        if (item.cx > settings.aoi.x2)\n            return;\n        if (item.cy < settings.aoi.y1)\n            return;\n        if (item.cy > settings.aoi.y2)\n            return;\n    }            \n    list.push(item);\n});\n\n\nmsg.payload = list;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "a2f1b392b5503eea",
                "e9579da75a37cd4b",
                "39becc07e38649cb"
            ]
        ]
    },
    {
        "id": "5f05b2ce65ad1a83",
        "type": "change",
        "z": "f67521d457724262",
        "g": "eb30500137287e24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.aoi",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "9ee08d73e9152c22"
            ]
        ]
    },
    {
        "id": "a25189eb680e0803",
        "type": "ui_button",
        "z": "f67521d457724262",
        "g": "eb30500137287e24",
        "name": "",
        "group": "3bfc0909503c1219",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 540,
        "wires": [
            [
                "640d1cb01727ebca",
                "5327b092e272c5c9"
            ]
        ]
    },
    {
        "id": "2668e2872cf088a2",
        "type": "function",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "Default settings",
        "func": "msg.payload = {\n    service: \"ObjectDetections\",\n    aoi: {\n        id: \"aoi\",\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    },\n    age: 2,\n    distance: 10,\n    confidence: 30,\n    classes: [\"Human\", \"Car\"],\n    timeout: 5,\n    threshold: 1\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 840,
        "wires": [
            [
                "28af9c583f4484f0"
            ]
        ]
    },
    {
        "id": "28af9c583f4484f0",
        "type": "change",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 840,
        "wires": [
            [
                "a7388fe793ea8459"
            ]
        ]
    },
    {
        "id": "a7388fe793ea8459",
        "type": "file in",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 800,
        "y": 840,
        "wires": [
            [
                "1e4c22d57c31ad60"
            ]
        ]
    },
    {
        "id": "1e4c22d57c31ad60",
        "type": "json",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 840,
        "wires": [
            [
                "f5c0e53fcdba9053"
            ]
        ]
    },
    {
        "id": "f5c0e53fcdba9053",
        "type": "change",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "settings",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 840,
        "wires": [
            [
                "cf1ce27b735043ae"
            ]
        ]
    },
    {
        "id": "3df4330a51d54448",
        "type": "catch",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "",
        "scope": [
            "a7388fe793ea8459"
        ],
        "uncaught": false,
        "x": 320,
        "y": 920,
        "wires": [
            [
                "9c9741277438d3da"
            ]
        ]
    },
    {
        "id": "9c9741277438d3da",
        "type": "change",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "flow.settings",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "settings",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 960,
        "wires": [
            [
                "cc81fd741d8c8c4d"
            ]
        ]
    },
    {
        "id": "eda370fa0827a4a9",
        "type": "function",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "pretty",
        "func": "msg.payload = JSON.stringify(msg.payload,null,2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 960,
        "wires": [
            [
                "dec5922bd7e17bdd"
            ]
        ]
    },
    {
        "id": "dec5922bd7e17bdd",
        "type": "file",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "",
        "filename": "sdcard/ObjectDetections.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1050,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "e9579da75a37cd4b",
        "type": "function",
        "z": "f67521d457724262",
        "g": "99759339821f6508",
        "name": "Presence counter",
        "func": "if( msg.changes === null )\n    return;\n\nvar device = global.get(\"device\");\nif(!device) {\n    node.error(\"Missing global.device. Check Readme\",msg);\n    return;\n}\nvar settings = flow.get(\"settings\");\nif(!settings) {\n    node.error(\"Missing global.device.camera. Check Readme\",msg);\n    return;\n}\n\nvar counter = flow.get(\"detectionsCounter\") || 0;\nif( msg.payload.length === counter )\n    return;\ncounter = msg.payload.length;\nflow.set(\"detectionsCounter\",counter);\nmsg.topic = \"presence/counter/\" + device.serial;\nmsg.payload = counter;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 380,
        "wires": [
            [
                "47809507496a8dc1"
            ]
        ]
    },
    {
        "id": "39becc07e38649cb",
        "type": "function",
        "z": "f67521d457724262",
        "g": "99759339821f6508",
        "name": "Presence state",
        "func": "var threshold = flow.get(\"settings\").threshold || 1;\n\nif (msg.payload.length < threshold)\n    return;\n\nmsg.delay = flow.get(\"settings\").timeout * 1000;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 420,
        "wires": [
            [
                "e1622d526e26ede8"
            ]
        ]
    },
    {
        "id": "e1622d526e26ede8",
        "type": "trigger",
        "z": "f67521d457724262",
        "g": "99759339821f6508",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1020,
        "y": 420,
        "wires": [
            [
                "e74cf53ed34cf9f2"
            ]
        ]
    },
    {
        "id": "47809507496a8dc1",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "counter",
        "mode": "link",
        "links": [
            "13faadf72878a119"
        ],
        "x": 1335,
        "y": 380,
        "wires": []
    },
    {
        "id": "197482fbf139a40e",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "counter",
        "info": "",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "d9a0d8ebfe6e0237",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "timeout",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1240,
        "wires": [
            [
                "7f939005643608c7"
            ]
        ]
    },
    {
        "id": "7f939005643608c7",
        "type": "ui_numeric",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "label": "Presence transition",
        "tooltip": "",
        "group": "69a2347cc873f053",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}s",
        "min": 0,
        "max": "100",
        "step": "1",
        "className": "",
        "x": 790,
        "y": 1240,
        "wires": [
            [
                "b7cd36fe5703d581"
            ]
        ]
    },
    {
        "id": "b7cd36fe5703d581",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.timeout",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1240,
        "wires": [
            [
                "c7d77c485927e618"
            ]
        ]
    },
    {
        "id": "bd65716f76040c35",
        "type": "ui_text",
        "z": "f67521d457724262",
        "g": "eb30500137287e24",
        "group": "8c6c5f2e1abed26a",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Counter",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 680,
        "wires": []
    },
    {
        "id": "13faadf72878a119",
        "type": "link in",
        "z": "f67521d457724262",
        "name": "link in 36",
        "links": [
            "47809507496a8dc1"
        ],
        "x": 55,
        "y": 680,
        "wires": [
            [
                "bd65716f76040c35"
            ]
        ]
    },
    {
        "id": "10abad2a85c1bec8",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "Counter",
        "info": "",
        "x": 150,
        "y": 680,
        "wires": []
    },
    {
        "id": "97a4095a57c1ffdd",
        "type": "link in",
        "z": "f67521d457724262",
        "name": "link in 37",
        "links": [
            "e74cf53ed34cf9f2"
        ],
        "x": 55,
        "y": 720,
        "wires": [
            [
                "62acea4adbe6db15"
            ]
        ]
    },
    {
        "id": "6b9e35afc7770948",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "State",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "62acea4adbe6db15",
        "type": "ui_text",
        "z": "f67521d457724262",
        "g": "eb30500137287e24",
        "group": "8c6c5f2e1abed26a",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "Presence",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 320,
        "y": 720,
        "wires": []
    },
    {
        "id": "e74cf53ed34cf9f2",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "state",
        "mode": "link",
        "links": [
            "97a4095a57c1ffdd"
        ],
        "x": 1335,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e54743d38c68e89",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "state",
        "info": "",
        "x": 1230,
        "y": 420,
        "wires": []
    },
    {
        "id": "3fd8c326c526acad",
        "type": "catch",
        "z": "f67521d457724262",
        "g": "2721d202963570ca",
        "name": "",
        "scope": null,
        "uncaught": true,
        "x": 340,
        "y": 1540,
        "wires": [
            [
                "227741d6506171d0",
                "e4c1198ac7d89260"
            ]
        ]
    },
    {
        "id": "227741d6506171d0",
        "type": "function",
        "z": "f67521d457724262",
        "g": "2721d202963570ca",
        "name": "Message",
        "func": "msg.topic = \"ObjectDetections\";\nmsg.payload = msg.error;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "b443cda444f2a33b",
                "6d4c7f2cc685680f"
            ]
        ]
    },
    {
        "id": "e4c1198ac7d89260",
        "type": "debug",
        "z": "f67521d457724262",
        "g": "2721d202963570ca",
        "name": "debug 198",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1600,
        "wires": []
    },
    {
        "id": "b443cda444f2a33b",
        "type": "change",
        "z": "f67521d457724262",
        "g": "2721d202963570ca",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1600,
        "wires": [
            [
                "aea2514e90084022"
            ]
        ]
    },
    {
        "id": "aea2514e90084022",
        "type": "ui_toast",
        "z": "f67521d457724262",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1000,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "ad10415fe5d95735",
        "type": "comment",
        "z": "f67521d457724262",
        "name": "exceptions",
        "info": "",
        "x": 970,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6d4c7f2cc685680f",
        "type": "link out",
        "z": "f67521d457724262",
        "name": "exceptions",
        "mode": "link",
        "links": [],
        "x": 1065,
        "y": 1540,
        "wires": []
    },
    {
        "id": "1defc0297c0f00f7",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "threshold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.threshold",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1280,
        "wires": [
            [
                "71d8ed478e3e2b32"
            ]
        ]
    },
    {
        "id": "71d8ed478e3e2b32",
        "type": "ui_numeric",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "label": "Presence threshold",
        "tooltip": "",
        "group": "69a2347cc873f053",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} objects",
        "min": "1",
        "max": "10",
        "step": "1",
        "className": "",
        "x": 790,
        "y": 1280,
        "wires": [
            [
                "04bccb1a38fdac48"
            ]
        ]
    },
    {
        "id": "04bccb1a38fdac48",
        "type": "change",
        "z": "f67521d457724262",
        "g": "1ac81ee616331a4e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "settings.threshold",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1280,
        "wires": [
            [
                "c7d77c485927e618"
            ]
        ]
    },
    {
        "id": "5327b092e272c5c9",
        "type": "function",
        "z": "f67521d457724262",
        "g": "eb30500137287e24",
        "name": "Init",
        "func": "msg.topic = \"init\";\nmsg.payload = {\n    aspect: \"16:9\",\n    rotation: 0,\n    resolution: \"1280x720\"\n}\n\nvar camera = global.get(\"camera\");\nif ( camera ) {\n    msg.payload.aspect = camera.aspect;\n    msg.payload.rotation = camera.rotation;\n    msg.payload.resolution = camera.largest;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "4edc1db65ca1bbed"
            ]
        ]
    },
    {
        "id": "4edc1db65ca1bbed",
        "type": "ui_template",
        "z": "f67521d457724262",
        "g": "eb30500137287e24",
        "group": "8c6c5f2e1abed26a",
        "name": "Visualization",
        "order": 6,
        "width": "16",
        "height": "16",
        "format": "<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:800px; height:450px;\">\n  <div style=\"width:100%; height:100%; position:relative\">\n    <div id=\"{{'video_'+$id}}\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>\n    <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n  </div>\n</div>\n\n\n<script>\nvar imageWidth = 800;\nvar imageHeight = 450;\nvar pathList = [];\nvar trackers = {};\nvar selectArea = null;\nvar selectionType = \"None\";\nvar ctx = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic  )\n            return;\n        console.log(msg.topic);\n\n        switch( msg.topic ) {\n        case \"init\":\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                selectArea = null;\n            }\n            ClearCanvas();\n            init(scope,msg.payload);\n            break;\n\n        case \"detections\":\n            drawDetections( msg.payload );\n            break;\n\n        case \"tracker\":\n            drawTracker( msg.payload );\n            break;\n\n        case \"path\":\n            drawPath( msg.payload );\n            break;\n\n        case \"singlePath\":\n            ClearCanvas();\n            drawPath( msg.payload );\n            break;\n\n        case \"paths\":\n            ClearCanvas();\n            pathList = msg.payload;\n            msg.payload.forEach(function(path){\n                drawPath( path );\n            });\n            break;\n\n        case \"reset\":\n        case \"clear\":\n        case \"save\":\n            ClearCanvas();\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            break;\n\n        case \"aoi\":\n        case \"birth\":\n        case \"death\":\n            selectionType = msg.topic;\n            if( selectArea ) {\n                selectArea.setOptions({hide: true});\n                delete selectArea;\n                selectArea = null;\n            }\n            var x1 = parseInt(msg.payload.x1 / 1000 * imageWidth);\n            var x2 = parseInt(msg.payload.x2 / 1000 * imageWidth);\n            var y1 = parseInt(msg.payload.y1 / 1000 * imageHeight);\n            var y2 = parseInt(msg.payload.y2 / 1000 * imageHeight);\n            selectArea = $(\"#view_\"+scope.$id).imgAreaSelect( {\n                x1:x1, y1:y1, x2:x2, y2:y2,\n                show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n                onSelectEnd: function( image, area ) {\n                    var area = {\n                        id: selectionType,\n                        x1: parseInt((area.x1/imageWidth) * 1000),\n                        x2: parseInt((area.x2/imageWidth) * 1000),\n                        y1: parseInt((area.y1/imageHeight) * 1000),\n                        y2: parseInt((area.y2/imageHeight) * 1000)\n                    }\n                    scope.send({\n                        topic: selectionType,\n                        payload: area\n                    });\n                }\n            });\n            selectArea.setOptions({ show: true });\n            break;\n\t\t}\n    });\n})(scope);\n\nfunction init( scope, camera ) {\n    imageWidth = 800;\n    imageHeight = 450;\n    var aspect = camera.aspect || \"16:9\";\n    var rotation = camera.rotation || 0;\n    var resolution = camera.resolution || \"1280x720\";\n\n    if( aspect === \"1:1\")\n        imageHeight = 800;\n\n    if( aspect === \"4:3\")\n        imageHeight = 600;\n\n    //Setup aspect ration\n    if( rotation === 90 || rotation === 270 ) {\n        var temp = imageWidth;\n        imageWidth = imageHeight;\n        imageHeight = temp;\n    }\n\n    $(\"#view_\"+scope.$id).css(\"width\", imageWidth + \"px\");\n    $(\"#view_\"+scope.$id).css(\"height\", imageHeight+\"px\");\n\n    $(\"#video_\"+scope.$id).empty();\n    var player = '<media-stream-player hostname=\"'+window.location.hostname+'\" format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+ resolution +'\" variant=\"basic\" autoplay></media-stream-player>';\n    $(\"#video_\"+scope.$id).append(player);\n        \n    var canvas = document.getElementById(\"canvas_\"+scope.$id);\n    ctx = canvas.getContext(\"2d\");\n\n    if( selectArea ) {\n        selectArea.setOptions({ hide: true });\n        delete selectArea;\n    }\n}\n\nfunction ClearCanvas() {\n    if(ctx) {\n        ctx.beginPath();\n        ctx.clearRect(0, 0, 1000, 1000 );\n        ctx.stroke();\n    }\n}\n\nfunction drawDetections( detections ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n    if( detections.length === 0)\n        return;\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.strokeStyle = '#FFFF00';\n    detections.forEach( function(detection){\n        ctx.rect(detection.x, detection.y,detection.w,detection.h );\n        var text = detection.class || \"Undefined\";\n        if( detection.hasOwnProperty(\"confidence\"))\n            text += \" \" + detection.confidence;\n        if( detection.hasOwnProperty(\"age\") )\n            text += \" \" + detection.age + \"s\";\n        ctx.fillText(text, detection.x, detection.y-10 );\n    });\n    ctx.stroke();\n}\n\nfunction drawTracker( tracker ) {\n    if(!ctx)\n        return;\n    ClearCanvas();\n\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#FFFF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n\n    trackers[tracker.id] = tracker;\n    if( tracker.active === false )\n        delete trackers[tracker.id];\n    ctx.beginPath();\n    for(var id in trackers) {\n        if( trackers[id].hasOwnProperty(\"bx\")) {\n            ctx.moveTo(trackers[id].bx,trackers[id].by);\n            ctx.lineTo(trackers[id].cx,trackers[id].cy);\n        }\n        ctx.rect(trackers[id].x, trackers[id].y,trackers[id].w,trackers[id].h );\n        var text = trackers[id].class || \"Undefined\";\n        if( trackers[id].hasOwnProperty(\"confidence\"))\n            text += \" \" + trackers[id].confidence;\n        if( trackers[id].hasOwnProperty(\"age\"))\n            text += \" \" + trackers[id].age + \"s\";\n        ctx.fillText(text, trackers[id].x, trackers[id].y-10);\n    }\n    ctx.stroke();\n}\n\n\nfunction drawPath( data ) {\n    if(!ctx)\n        return;\n\n    var first = data.path[0];\n    var last = data.path[data.path.length-1];\n\n    ctx.beginPath();\n    ctx.lineWidth = 3;\n    ctx.strokeStyle = '#00FF00';\n    ctx.font = \"30px Arial\";\n    ctx.fillStyle = '#FFFF00';\n    ctx.moveTo(first.x, first.y );\n    ctx.arc(first.x, first.y, 3, 0, 2 * Math.PI);\n    // ctx.fillText(data.class, first.x, first.y - 10 );\n    ctx.stroke();\n\n    ctx.beginPath();\n    ctx.strokeStyle = '#FFFF00';\n    ctx.moveTo(data.path[0].x, data.path[0].y );\n    for( var i = 1; i < data.path.length; i++ )\n        ctx.lineTo(data.path[i].x,data.path[i].y ); ctx.lineTo(last.x,last.y );\n    ctx.stroke(); ctx.beginPath();\n    ctx.lineWidth=3;\n    ctx.strokeStyle='#FF0000';\n    ctx.moveTo(last.x, last.y );\n    ctx.arc(last.x, last.y, 3, 0, 2 * Math.PI); ctx.stroke();\n}\n\n\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 620,
        "wires": [
            [
                "5f05b2ce65ad1a83"
            ]
        ]
    },
    {
        "id": "cc81fd741d8c8c4d",
        "type": "function",
        "z": "f67521d457724262",
        "g": "649f4fc977f466e7",
        "name": "Validate",
        "func": "if(!msg.payload.hasOwnProperty(\"classes\"))\n    msg.payload.classes = [\"Human\", \"Car\"];\nif(!msg.payload.hasOwnProperty(\"age\"))\n    msg.payload.age = 1;\nif(!msg.payload.hasOwnProperty(\"distance\"))\n    msg.payload.distance = 20;\nif(!msg.payload.hasOwnProperty(\"confidence\"))\n    msg.payload.confidence = 30;\nif(!msg.payload.hasOwnProperty(\"aoi\"))\n    msg.payload.aoi = {\n        x1: 200,\n        y1: 200,\n        x2: 800,\n        y2: 800\n    };\n\nflow.set(\"settings\",msg.payload);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 960,
        "wires": [
            [
                "eda370fa0827a4a9"
            ]
        ]
    },
    {
        "id": "aef3be62a7281de0",
        "type": "Axis device",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Device Info",
        "cgi": "",
        "data": "",
        "options": "",
        "filename": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "340b380b86944e49",
                "b3343290c93ea995"
            ]
        ]
    },
    {
        "id": "340b380b86944e49",
        "type": "change",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 140,
        "wires": [
            [
                "a12f86bcc3e45ed1"
            ]
        ]
    },
    {
        "id": "3eadea8c87bfb58e",
        "type": "inject",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "aef3be62a7281de0",
                "b5757061bb832b61"
            ]
        ]
    },
    {
        "id": "a12f86bcc3e45ed1",
        "type": "debug",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "b5757061bb832b61",
        "type": "Axis camera",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "",
        "preset": "a5d60ef5587cc8fc",
        "action": "Camera Info",
        "resolution": "640x360",
        "output": "Base64",
        "filename": "",
        "options": "",
        "data": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "5ed09437cf14a198"
            ]
        ]
    },
    {
        "id": "dc4e19d18007d323",
        "type": "debug",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "Camera",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "5ed09437cf14a198",
        "type": "change",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "camera",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 220,
        "wires": [
            [
                "dc4e19d18007d323"
            ]
        ]
    },
    {
        "id": "4cb7cfc187b3956b",
        "type": "comment",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "Initialize by setting device credentials and click the blue box on the left side of \"timestamp\"",
        "info": "",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "b3343290c93ea995",
        "type": "change",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload.hostname",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "e2f85e8a2ef02ffc"
            ]
        ]
    },
    {
        "id": "e2f85e8a2ef02ffc",
        "type": "debug",
        "z": "f67521d457724262",
        "g": "5f57c53e4653f7e1",
        "name": "Name",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "69a2347cc873f053",
        "type": "ui_group",
        "name": "Settings",
        "tab": "0b549286ca232797",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bfc0909503c1219",
        "type": "ui_group",
        "name": "Default",
        "tab": "0b549286ca232797",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c6c5f2e1abed26a",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "0b549286ca232797",
        "order": 2,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5d60ef5587cc8fc",
        "type": "Device Access",
        "name": "Localhost",
        "address": "localhost",
        "protocol": "http"
    },
    {
        "id": "0b549286ca232797",
        "type": "ui_tab",
        "name": "Object Detections",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]