examples/Video Player.json
[
    {
        "id": "d9214106da92ca98",
        "type": "tab",
        "label": "Video Player",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cac4c6caee66e51a",
        "type": "ui_template",
        "z": "d9214106da92ca98",
        "group": "0257200d2882b0d0",
        "name": "Video Player",
        "order": 0,
        "width": "16",
        "height": "16",
        "format": "<script src=\"/js/media-stream-player.min.js\"></script>\n\n<div id=\"{{'player_'+$id}}\"></div>\n\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (!msg)\n      return;\n    console.log(msg.topic);\n    if( msg.topic === \"video\" ) {\n      var width = msg.width || 1280;\n      var height = msg.height || 720;\n      var rotation = msg.rotation || 0;\n\n      $(\"#player_\"+scope.$id).empty();\n\n      if(rotation == 90 || rotation == 270 ) {\n        $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:450px; height:800px;\">');\n      } else {\n        $(\"#player_\"+scope.$id).append('<div id=\"view_' + scope.$id + '\" style=\"width:800px; height:450px;\">');\n      }\n      $(\"#view_\"+scope.$id).append('<div id=\"canvas_'+ scope.$id + '\" style=\"width:100%; height:100%; position:relative\">');\n      $(\"#canvas_\"+scope.$id).append('<img id=\"image_' + scope.$id + '\" class=\"card-img-top\" src=\"\" alt=\"Image\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">');\n      $(\"#canvas_\"+scope.$id).append('<div id=\"video_' + scope.$id + '\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></div>');\n\n      $(\"#image_\"+scope.$id).attr('src','http://'+window.location.hostname+'/axis-cgi/jpg/image.cgi?resolution='+width+'x'+height+'&_='+new Date().getTime());\n      if( msg.payload ) {\n        var player = '<media-stream-player hostname=\"'+window.location.hostname+'\"  format=\"RTP_H264\" compression=\"40\" audio=\"0\" resolution=\"'+width+'x'+height+'\" variant=\"basic\" autoplay></media-stream-player>';\n        $(\"#video_\"+scope.$id).append(player);\n      }\n    }\n  });\n})(scope);\n</script>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4695227a9b940d09",
        "type": "ui_dropdown",
        "z": "d9214106da92ca98",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select resolution",
        "group": "0257200d2882b0d0",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "No video",
                "value": false,
                "type": "bool"
            },
            {
                "label": "2688x1512",
                "value": "2688x1512",
                "type": "str"
            },
            {
                "label": "1920x1080",
                "value": "1920x1080",
                "type": "str"
            },
            {
                "label": "1280x720",
                "value": "1280x720",
                "type": "str"
            },
            {
                "label": "1024x576",
                "value": "1024x579",
                "type": "str"
            },
            {
                "label": "800x450",
                "value": "800x450",
                "type": "str"
            },
            {
                "label": "640x360",
                "value": "640x360",
                "type": "str"
            },
            {
                "label": "480x270",
                "value": "480x270",
                "type": "str"
            },
            {
                "label": "320x180",
                "value": "320x180",
                "type": "str"
            },
            {
                "label": "160x90",
                "value": "160x90",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "36befe7c7759948d"
            ]
        ]
    },
    {
        "id": "6bfb36bd1a4c2f2c",
        "type": "function",
        "z": "d9214106da92ca98",
        "name": "Format",
        "func": "msg.topic = \"video\";\n\nif( msg.payload === false )\n    return msg;\n\nvar resolution = flow.get(\"resolution\") || \"1280x720\";\nvar items = resolution.split(\"x\");\nmsg.width = parseInt(items[0]);\nmsg.height = parseInt(items[1]);\nmsg.rotation = flow.get(\"rotation\") || 0;\nmsg.payload.true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 100,
        "wires": [
            [
                "cac4c6caee66e51a"
            ]
        ]
    },
    {
        "id": "f2cf4e1a29200dbb",
        "type": "ui_dropdown",
        "z": "d9214106da92ca98",
        "name": "",
        "label": "Rotation",
        "tooltip": "",
        "place": "Select rotation",
        "group": "0257200d2882b0d0",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "0째",
                "value": 0,
                "type": "num"
            },
            {
                "label": "90째",
                "value": 90,
                "type": "num"
            },
            {
                "label": "180째",
                "value": 180,
                "type": "num"
            },
            {
                "label": "270째",
                "value": 270,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "rotation",
        "topicType": "str",
        "className": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "70e2d87def91446f"
            ]
        ]
    },
    {
        "id": "70e2d87def91446f",
        "type": "change",
        "z": "d9214106da92ca98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "rotation",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "6bfb36bd1a4c2f2c"
            ]
        ]
    },
    {
        "id": "36befe7c7759948d",
        "type": "change",
        "z": "d9214106da92ca98",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resolution",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 100,
        "wires": [
            [
                "6bfb36bd1a4c2f2c"
            ]
        ]
    },
    {
        "id": "baad63297ae048b4",
        "type": "catch",
        "z": "d9214106da92ca98",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "5ef403c01dcb68cc"
            ]
        ]
    },
    {
        "id": "5ef403c01dcb68cc",
        "type": "debug",
        "z": "d9214106da92ca98",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "0257200d2882b0d0",
        "type": "ui_group",
        "name": "Video",
        "tab": "efa26bda65360324",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efa26bda65360324",
        "type": "ui_tab",
        "name": "Video Player",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]